<% content_for :menu do -%>
  <h1><%= @receivable_billing.new_record? ? 'Novo' : 'Editando' %> Recebimento</h1>
  <%= mount_menu %>
<% end %>


<% form_for(@receivable_billing) do |f| %>
  <%= f.error_messages %>
  <div id="values">
    <fieldset>
      <legend>Dados</legend>
      <%= f.hidden_field :receivable_id                         , :label  => 'Receber de'         , :size => 20 %>
      <%= f.select       :bank_account_id, BankAccount.to_select, :label  => 'Conta'              , :size => 10 %>
      <%= f.text_field   :client_id                             , {:label => 'Receber de'         , :size => 20 , :value => (@receivable_billing.client.name rescue '')}.merge(@receivable_billing.client ? {:disabled => 'disabled'} : {}) %>
      <%= f.select       :account_plan_id, AccountPlan.to_select, :label  => 'Plano de Contas'    , :size => 10 , :include_blank => true %>
      <%= f.select       :cost_center_id , CostCenter.to_select , :label  => 'Centro de Custos'   , :size => 10 , :include_blank => true %>
      <%= f.text_field   :document_number                       , :label  => 'Num. Doc.'          , :size => 20 %>
      <%= f.text_field   :barcode                               , :label  => 'Cod. Barra do Doc.' , :size => 30 %>
      <%= f.text_area    :observations                          , :label  => 'Observações'       , :size => 100 %>
    </fieldset>
  </div>
  <div id="values">
    <fieldset>
      <legend>Valores</legend>
      <%= f.text_field :expire_at        , :label => 'Vencimento'         , :class => 'datepicker'  , :size => 20 %>
      <%= f.text_field :competency       , :label => 'Competencia'        , :class => 'datepicker'  , :size => 20 %>
      <%= f.text_field :received_at      , :label => 'Data do Recebimento', :class => 'datepicker'  , :size => 20 %>
      <%= f.text_field :bill_number      , :label => 'Número'                                       , :size => 20 %>
      <%= f.text_field :parcel           , :label => 'Parcela'                                      , :size => 10 %>
      <%= f.check_box  :settle_receivable, :label => 'Quita o Ativo?'                               , :size => 10 %>
      <%= f.text_field :value            , :label => 'Valor'              , :class => 'mask-decimal', :size => 20, :decimal => "10,2", :value => @receivable_billing.value || @receivable_billing.receivable.value rescue '' %>
      <%= f.text_field :fine             , :label => 'Valor Multa'        , :class => 'mask-decimal', :size => 20, :decimal => "10,2" %>
      <%= f.text_field :rate             , :label => 'Valor Juros'        , :class => 'mask-decimal', :size => 20, :decimal => "10,2" %>
      <%= f.text_field :discount         , :label => 'Desconto'           , :class => 'mask-decimal', :size => 20, :decimal => "10,2" %>
      <%= f.text_field :total            , :label => 'Valor Total'        , :class => 'mask-decimal', :size => 20, :decimal => "10,2" %>
    </fieldset>
  </div>
<% end %>

<script type="text/javascript">
$(function(){
  function update_total_value(){
    var value    = format.decimal.toNumber($('#receivable_billing_value').val());
    var fine     = format.decimal.toNumber($('#receivable_billing_fine').val());
    var rate     = format.decimal.toNumber($('#receivable_billing_rate').val());
    var discount = format.decimal.toNumber($('#receivable_billing_discount').val());
    var total    = value + fine + rate - discount;

    $('#receivable_billing_total').val(format.number.toDecimal(total, "10,2"));
  }

  function initial_update_total_value(){
    var value    = $('#receivable_billing_value').val()*1;
    var fine     = $('#receivable_billing_fine').val()*1;
    var rate     = $('#receivable_billing_rate').val()*1;
    var discount = $('#receivable_billing_discount').val()*1;
    var total    = value + fine + rate - discount;

    $('#receivable_billing_total').val(total);
  }

  $('#receivable_billing_value').blur(update_total_value);
  $('#receivable_billing_fine').blur(update_total_value);
  $('#receivable_billing_rate').blur(update_total_value);
  $('#receivable_billing_discount').blur(update_total_value);
  initial_update_total_value();
});
</script>
