<% content_for :menu do -%>
  <h1><%= @receivable_billing.new_record? ? 'Novo' : 'Editar' %> Lançamento de Recebimento</h1>
  <%= link_to "Recebimento", receivable_path(@receivable), {:class => "button", :icon => "arrow-1"} %>
  <%= link_to "Lançamentos", receivable_billings_path(@receivable), {:class => "button", :icon => "arrow-1"} %>
  <%= link_to "Salvar", "#", {:class => "button save", :icon => "disk"} %>
<% end %>


<% form_for(@receivable_billing, :url => (@receivable_billing.new_record? ? receivable_billings_path(@receivable) : receivable_billing_path(@receivable, @receivable_billing) )) do |f| %>
  <%= f.error_messages %>
  <div id="values">
    <fieldset>
      <legend>Dados</legend>
      <%= f.select :bank_account_id, BankAccount.to_select, :label => 'Conta' %>
      <%= f.text_field :client_id, {:label => 'Receber de', :value => (@receivable.client.name rescue '')}.merge(@receivable.client ? {:disabled => 'disabled'} : {}) %>
      <%= f.text_field :history, :label => 'Histórico' %>
      <%= f.select :account_plan_id, AccountPlan.to_select, :label => 'Plano de Contas' %>
      <%= f.select :cost_center_id, CostCenter.to_select, :label => 'Centro de Custos' %>
      <%= f.text_field :document_number, :label => 'Num. Doc.' %>
      <%= f.text_field :barcode, :label => 'Cod. Barra do Doc.' %>
      <%= f.text_area :observations, :label => 'Observações' %>
    </fieldset>
  </div>
  <div id="values">
    <fieldset>
      <legend>Valores</legend>
      <%= f.text_field :expire_at, :label => 'Vencimento', :class => 'datepicker' %>
      <%= f.text_field :parcel, :label => 'Parcela' %>
      <%= f.text_field :competency, :label => 'Competencia', :class => 'datepicker' %>
      <%= f.text_field :received_at, :label => 'Data do Recebimento', :class => 'datepicker' %>
      <%= f.text_field :bill_number, :label => 'Número' %>
      <%= f.text_field :value, :label => 'Valor', :value => @receivable_billing.value || @receivable_billing.receivable.value %>
      <%= f.text_field :fine, :label => 'Valor Multa' %>
      <%= f.text_field :rate, :label => 'Valor Juros' %>
      <%= f.text_field :discount, :label => 'Desconto' %>
      <%= f.text_field :total, :label => 'Valor Total' %>
      <%= f.check_box :settle_receivable, :label => 'Quita o Ativo?' %>
    </fieldset>
  </div>
<% end %>

<script type="text/javascript">
  <!--
  $(function(){
      function update_total_value(){
        var value = $('#receivable_billing_value').val();
        var fine = $('#receivable_billing_fine').val();
        var rate = $('#receivable_billing_rate').val();
        var discount = $('#receivable_billing_discount').val();
        var total = value - fine - rate - discount;
        $('#receivable_billing_total').val(Math.round(total*100)/100);
      }
      $('#receivable_billing_value').change(update_total_value);
      $('#receivable_billing_fine').change(update_total_value);
      $('#receivable_billing_rate').change(update_total_value);
      $('#receivable_billing_discount').change(update_total_value);
      update_total_value();
      });
  -->
</script>
