<% content_for :menu do -%>
  <h1>Lançamentos</h1>

  <%= link_to "Recebimento", receivable_path(@receivable), {:class => "button", :icon => "triangle-1-n"} %>
  <%= link_to "Novo", new_receivable_billing_path(@receivable), {:class => "button", :icon => "plusthick"} %>
  <%= link_to "Editar", '#', {:class => "button edit", :icon => "pencil"} %>
  <%= link_to "Mostrar", '#', {:class => "button show", :icon => "search"} %>
  <%= link_to "Deletar", '#', {:class => "button delete", :icon => "trash"} %>
<% end -%>

<%= table @receivable_billings, ['expire_at', 'Vencimento'], ['parcel', 'Parcela'], ['received_at', 'Recebido em'], ['value', 'Valor'], ['total', 'Total'] %>

