<p>
  <b>Bank account:</b>
  <%=h @receivable_billing.bank_account_id %>
</p>

<p>
  <b>Client:</b>
  <%=h @receivable_billing.client_id %>
</p>

<p>
  <b>History:</b>
  <%=h @receivable_billing.history %>
</p>

<p>
  <b>Account plan:</b>
  <%=h @receivable_billing.account_plan_id %>
</p>

<p>
  <b>Cost center:</b>
  <%=h @receivable_billing.cost_center_id %>
</p>

<p>
  <b>Document number:</b>
  <%=h @receivable_billing.document_number %>
</p>

<p>
  <b>Barcode:</b>
  <%=h @receivable_billing.barcode %>
</p>

<p>
  <b>Observations:</b>
  <%=h @receivable_billing.observations %>
</p>

<p>
  <b>Expire at:</b>
  <%=h @receivable_billing.expire_at %>
</p>

<p>
  <b>Parcel:</b>
  <%=h @receivable_billing.parcel %>
</p>

<p>
  <b>Competency:</b>
  <%=h @receivable_billing.competency %>
</p>

<p>
  <b>Received at:</b>
  <%=h @receivable_billing.received_at %>
</p>

<p>
  <b>Bill number:</b>
  <%=h @receivable_billing.bill_number %>
</p>

<p>
  <b>Value:</b>
  <%=h @receivable_billing.value %>
</p>

<p>
  <b>Fine:</b>
  <%=h @receivable_billing.fine %>
</p>

<p>
  <b>Rate:</b>
  <%=h @receivable_billing.rate %>
</p>

<p>
  <b>Discount:</b>
  <%=h @receivable_billing.discount %>
</p>

<p>
  <b>Total:</b>
  <%=h @receivable_billing.total %>
</p>


<%= link_to 'Edit', edit_receivable_billing_path(@receivable_billing) %> |
<%= link_to 'Back', receivable_billings_path %>