<% content_for :menu do %>
  <h1>Editando Fornecedor</h1>
  <%= mount_menu %>
<% end %>

<% form_for(@provider) do |f| %>

  <div class="form-wrapper">

    <%= f.error_messages %>

    <% field_set_tag "Dados do fornecedor" do %>
      <%= f.text_field :name                   , :label => "Raz. Social"          , :size => 50 , :required => true %>
      <%= f.text_field :cnpj                   , :label => "CNPJ"                 , :class => "mask-cnpj", :required => true %>
      <%= f.select     :prod_cost   , @prodcost, :label => "Produtos ou despesas" %>
      <%= f.text_area  :observations           , :label => "Observações"          , :size => 50 %>
      <%= f.text_field :ie                     , :label => "Inscriçao Estadual"   %>
      <%= f.text_field :phone                  , :label => "Telefone"             , :class => "mask-phone" %>
      <%= f.text_field :fax                    , :label => "Fax"                  , :class => "mask-phone" %>
      <%= f.text_field :email                  , :label => "E-mail"               %>
      <%= f.text_field :bank                   , :label => "Banco"                %>
      <%= f.check_box  :carrier                , :label => "Transportadora"       %>
    <% end %>

    <% field_set_tag "Endereço" do %>
      <%= address_toolbar ['cep', 'map']%>
      <% f.fields_for :address do |ma| %>
        <%= ma.text_field :cep                  , :label => "CEP"         , :class => 'mask-cep' %>
        <%= ma.text_field :street               , :label => "Endereço"                           %>
        <%= ma.text_field :number               , :label => "Número"                             %>
        <%= ma.text_field :complement           , :label => "Complemento"                        %>
        <%= ma.text_field :neighborhood         , :label => "Bairro"                             %>
        <%= ma.text_field :city                 , :label => "Cidade"                             %>
        <%= ma.select     :estate_id   , @estate, :label => "Estado"                             %>
        <%= ma.text_field :country              , :label => "País"                               %>
      <% end %>
    <% end %>

    <% field_set_tag 'Contato de venda' do %>
      <% f.fields_for :seller_contact do |sc| %>
        <%= sc.text_field :name  , :label => "Nome"   %>
        <%= sc.text_field :email , :label => "E-mail" %>

        <% sc.fields_for :phones do |ph| %>
          <%= ph.text_field :number, :label => "Telefone" , :class => "mask-phone" %>
        <% end %>
        <div class="clear" style="height: 20px"> </div>

      <% end %>
    <% end %>

    <% field_set_tag 'Contato de cogrança' do %>
      <% f.fields_for :invoicer_contact do |ic| %>
        <%= ic.text_field :name  , :label => "Nome"   %>
        <%= ic.text_field :email , :label => "E-mail" %>

        <% ic.fields_for :phones do |ph| %>
          <%= ph.text_field :number, :label => "Telefone" , :class => "mask-phone" %>
        <% end %>
        <div class="clear" style="height: 20px"> </div>

      <% end %>
    <% end %>
  </div>
<% end %>

