<% content_for :menu do -%>
<h1>Novo Feriado</h1>
  <%= mount_menu %>
<% end -%>

<% form_for(@hollyday) do |f| %>
  <div class="form-wrapper">
    <%= f.error_messages %>
    <%= f.text_field  :name   ,:label  => 'Feriado', :size => 50      %>
    <%= f.text_field  :day    ,:label  => 'Dia'                       %>
    <%= f.text_field  :month  ,:label  => 'Mês'                       %>
    <%= f.check_box   :active ,:label  => 'Ativo'  , :checked => true %>
  </div>
<% end -%>

