<% content_for :menu do -%>
  <h1>Feriado</h1>
  <%= mount_menu %>
<% end -%>

<%= print_content 'Feriado', h(@hollyday.name)                        , 50 %>
<%= print_content 'Dia'    , h(@hollyday.day)                         , 25 %>
<%= print_content 'Month'  , h(@hollyday.month)                       , 25 %>
<%= print_content 'ativo'  , h(@hollyday.active ? "Ativo" : "Inativo"), 25 %>

