<% content_for :menu do -%>
  <h1>Fluxo de caixa</h1>
  <%= link_to "Filtrar", "#", {:class => "button save", :icon => "search"} %>
<% end -%>

<% form_for :flow, :url => {:controller => "cash_flow", :action => "show"} do |f| -%>
  <%= f.select     :bank_account_id, @bank_list, :label => "Banco"  , :value => @filter[:bank_account_id] %>
  <%= f.text_field :starts_at                  , :label => "Início" , :value => @filter[:starts_at]      , :class => "datepicker" %>
  <%= f.text_field :ends_at                    , :label => "Término", :value => @filter[:ends_at]        , :class => "datepicker" %>
<% end -%>

<div class="clear"></div>

<%= table @cash_flow, ['date'   , 'Data'        , {:format => "date"              , :class => "center" }],
                      ['debit'  , 'Débito'      , {:format => "number_to_currency", :class => "right" }],
                      ['credit' , 'Crédito'     , {:format => "number_to_currency", :class => "right" }],
                      ['daily'  , 'Saldo do dia', {:format => "number_to_currency", :class => "right" }],
                      ['balance', 'Acumulado'   , {:format => "number_to_currency", :class => "right" }]  %>