  <label class="hide"><%= app.hidden_field :id %></label>
  <label class="hide"><%= app.hidden_field :account_plan_id %></label>
  <label class="hide"><%= app.hidden_field :cost_center_id  %></label>
  <%= app.text_field :cost_center_name, :label => "Centro de Custos", :class => "autocomplete", :source => "cost_center" %>
  <%= app.text_field :rate            , :label => "Porcentagem"      %>

  <div class="clear"></div>

