<% content_for :menu do -%>
  <h1>Novo plano de contas</h1>
  <%= mount_menu %>
<% end -%>

<% form_for(@account_plan) do |f| %>
  <%= f.error_messages %>

  <%= f.text_field :code                                              , :label => "Código"    , :required => true , :size => 10, :class => "mask-acplcod" %>
  <%= f.text_field :name                                              , :label => "Nome"      , :required => true , :size => 30 %>
  <%= f.select     :level         , [1, 2, 3, 4]                      , :label => "Nível"     , :required => true , :size => 20 %>
  <%= f.select     :orientation_id, AccountPlan::Orientation.to_select, :label => "Usado em"  , :required => false, :size => 20 %>
  <%= f.check_box  :analytical                                        , :label => "Analítica?", :required => true , :size => 10 %>
  <%= f.check_box  :default                                           , :label => "Padrão"    , :required => false, :size => 10 %>

  <% field_set_tag 'Rateio' do -%>
    <%= apportionments_toolbar f %>
    <% f.fields_for :apportionments do |app| %>
      <%= render :partial => "apportionments", :locals => { :app => app } %>
    <% end -%>

  <table id="apportionments" cellpading="0" cellspacing="0" border="0" width="100%">
    <thead>
      <tr>
        <th class="hide">Id                 </th>
        <th class="hide">Id Plano de Contas </th>
        <th class="hide">Id Centro de Custos</th>
        <th>Centro de Custo    </th>
        <th>Porcentagem        </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

  <div id="trash" class="hide"></div>

  <% end -%>
<% end %>
