<% content_for :menu do -%>
  <h1>Plano de contas</h1>
  <%= mount_menu %>
<% end -%>

<%= print_content "Código"                , h(@account_plan.code)                                           , {:width => 20} %>
<%= print_content "Nome"                  , h(@account_plan.name)                                           , {:width => 30} %>
<%= print_content "Nível"                 , h(@account_plan.level)                                          , {:width => 20} %>
<%= print_content "Usado em"              , AccountPlan::Orientation.find(@account_plan.orientation_id).name, {:width => 20} %>
<%= print_content "Analítico ou sintético", anal_or_sint(@account_plan.analytical)                          , {:width => 10} %>

<div class="clear"></div>

<table id="apportionments" cellpading="0" cellspacing="0" border="0" width="100%">
  <thead>
    <tr>
      <th>Centro de custo</th>
      <th>Porcentagem</th>
    </tr>
  </thead>
  <tbody>
    <% @apportionments.each do |app| -%>
    <tr>
      <td><%=h app.cost_center_name %></td>
      <td><%=h app.rate             %></td>
    </tr>
    <% end -%>
  </tbody>
</table>

<script type="text/javascript">
  $('#apportionments').dataTable(dTableConfig);
</script>
