<label class="hide"><%= f.hidden_field :id %></label>
<label class="hide"><%= f.hidden_field :product_id %></label>
<%= f.text_field :product_name, :label => "Produto"         , :class => "autocomplete", :source => "product" %>
<%= f.text_field :quantity    , :label => "Quantidade"      %>
<%= f.text_field :unit_value  , :label => "Valor unitário"  %>
<%= f.text_field :total_value , :label => "Valor total"     , :disabled => "deisabled" %>
<%= f.text_field :delivery    , :label => "Data de entrega" , :class => 'datepicker' %>

<div class="clear"></div>
<script type="text/javascript">
  var calcFields =   '#purchase_order_order_items_attributes_0_quantity'
  calcFields    += ', #purchase_order_order_items_attributes_0_unit_value'
  $(calcFields).bind('change', function(){
    var x = $('#purchase_order_order_items_attributes_0_quantity'  ).val();
    var y = $('#purchase_order_order_items_attributes_0_unit_value').val();
    x = x.replace(',', '.');
    y = y.replace(',', '.');
    var z = (x*y) + '';
    z = z.replace('.', ',');
    $('#purchase_order_order_items_attributes_0_total_value').val(z);
  });
</script>

