<% content_for :menu do -%>
  <h1>Novo pedido de compras</h1>
  <%= mount_menu %>
<% end -%>

<% form_for(@purchase_order) do |f| %>
  <div class="form-wrapper">
    <%= f.error_messages %>

    <%= f.text_area    :observation         , :label => "Observações"           %>
    <%= f.text_field   :number              , :label => "Número"                %>
    <%= f.text_field   :order_type_id       , :label => "Tipo de pedido"        %>
    <%= f.text_field   :sale_type_id        , :label => "Tipo de venda"         %>
    <%= f.text_field   :date                , :label => "Data do pedido"        , :class => 'datepicker' %>
    <%= f.text_field   :prevision           , :label => "Previsão de entrega"   , :class => 'datepicker' %>
    <%= f.text_field   :billed              , :label => "Faturado"              , :class => 'datepicker' %>
    <%= f.hidden_field :client_id %>
    <%= f.text_field   :provider_name       , :label => "Fornevedor"            , :class => "autocomplete", :source => "provider", :pref => "purchase_order_" %>
    <%= f.text_field   :seller_id           , :label => "Vendedor"              %>
    <%= f.text_field   :commission          , :label => "Comissão"              %>
    <%= f.text_field   :contact_id          , :label => "Contato"               %>
    <%= f.text_field   :payment_condition_id, :label => "Condição de pagamento" %>
    <%= f.text_field   :carrier_id          , :label => "Transportadora"        %>
    <%= f.text_field   :freight             , :label => "Frete"                 %>
    <%= f.text_field   :freight_type_id     , :label => "Tipo de frete"         %>
    <%= f.text_field   :attendant_id        , :label => "Atendente"             %>
    <%= f.check_box    :closed              , :label => 'Fechado'               %>

    <% field_set_tag 'Itens' do -%>
      <%= new_purchase_item_toolbar f %>
      <% f.fields_for :order_items do |poi| %>
        <%= render :partial => "purchase_order_item_fields", :locals => {:f => poi} %>
      <% end -%>

      <table id="purchase_order_items" cellpading="0" cellspacing="0" border="0" width="100%">
        <thead>
          <tr>
            <th>Id do item       </th>
            <th>Id Produto       </th>
            <th>Produto          </th>
            <th>Quantidade       </th>
            <th>Unidade de Medida</th>
            <th>Valor Unitário   </th>
            <th>Valor Total      </th>
            <th>Data de entrega  </th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

      <div id="trash" class="hide"></div>


    <% end -%>

  </div>
<% end %>

