<% content_for :menu do -%>
  <h1>Pedido de compra</h1>
  <%= mount_menu %w[default separator] %>
  <%= btn_purchase_close @purchase_order.id   unless @purchase_order.closed %>
  <%= btn_purchase_reverse @purchase_order.id if     @purchase_order.closed %>
<% end -%>

<%= print_content "Número"               , h(@purchase_order.number)                        , :width => 10 %>
<%= print_content "Data"                 , date(@purchase_order.date)                       , :width => 20 %>
<%= print_content "Previsão"             , date(@purchase_order.prevision)                  , :width => 20 %>
<%= print_content "Fornecedor"           , h(@purchase_order.provider.name)                 , :width => 50 %>

<%= print_content "Contato"              , h(@purchase_order.contact)                       , :width => 20 %>
<%= print_content "Condição de pagamento", h((@purchase_order.payment_form.name rescue '')) , :width => 20 %>
<%= print_content "Carro"                , h((@purchase_order.carrier.name rescue ''))      , :width => 20 %>
<%= print_content "Frete"                , h(@purchase_order.freight)                       , :width => 20 %>
<%= print_content "Tipo de frete"        , h(@purchase_order.freight_type_id)               , :width => 20 %>

<%= print_content "Fechado"              , human_boolean(@purchase_order.closed)            , :width => 20 %>
<%= print_content "Faturado"             , date(@purchase_order.billed)                     , :width => 20 %>
<%= print_content "Usuário"              , h((@purchase_order.attendant.name rescue ''))    , :width => 60 %>

<%= print_content "Observações"          , h(@purchase_order.observation)                   , :width => 100 %>

<div class="clear"></div>

<h2>Items</h2>
<table id="purchase_order_items" cellpading="0" cellspacing="0" border="0" width="100%">
  <thead>
    <tr>
      <th>Produto        </th>
      <th>Quantidade     </th>
      <th>Valor Unitário </th>
      <th>Valor Total    </th>
      <th>Data de entrega</th>
    </tr>
  </thead>
  <tbody>
  <% @items.each do |poi| %>
    <tr>
      <td><%= poi.product_name %></td>
      <td class="right" ><%= poi.quantity                        %></td>
      <td class="right" ><%= number_to_currency(poi.unit_value)  %></td>
      <td class="right" ><%= number_to_currency(poi.total_value) %></td>
      <td class="center"><%= date(poi.delivery)                  %></td>
    </tr>
  <% end -%>
  </tbody>
</table>

<script type="text/javascript">
  var oTable = $('#purchase_order_items').dataTable(dTableConfig);
</script>

