<h1>Listing invoices</h1>

<table>
  <tr>
    <th>Operation</th>
    <th>Invoice number</th>
    <th>Client</th>
    <th>Seller</th>
    <th>Term</th>
    <th>Ipi</th>
    <th>Icms base</th>
    <th>Icms</th>
    <th>Pis</th>
    <th>Cofins</th>
    <th>Products value</th>
    <th>Invoice value</th>
    <th>Commission rate</th>
    <th>Activity</th>
    <th>Observations</th>
    <th>Sell</th>
    <th>Parcels</th>
    <th>Natop</th>
    <th>Delivery</th>
    <th>Freight</th>
    <th>Insurance</th>
    <th>Carrier</th>
    <th>Freight type</th>
    <th>Nfe</th>
    <th>Nfe received key</th>
    <th>Nfe key</th>
    <th>Nfe protocol</th>
    <th>Nfe env</th>
    <th>Manaus discount</th>
    <th>Canceled</th>
  </tr>

<% @invoices.each do |invoice| %>
  <tr>
    <td><%=h invoice.operation %></td>
    <td><%=h invoice.invoice_number %></td>
    <td><%=h invoice.client_id %></td>
    <td><%=h invoice.seller_id %></td>
    <td><%=h invoice.term_id %></td>
    <td><%=h invoice.ipi %></td>
    <td><%=h invoice.icms_base %></td>
    <td><%=h invoice.icms %></td>
    <td><%=h invoice.pis %></td>
    <td><%=h invoice.cofins %></td>
    <td><%=h invoice.products_value %></td>
    <td><%=h invoice.invoice_value %></td>
    <td><%=h invoice.commission_rate %></td>
    <td><%=h invoice.activity_id %></td>
    <td><%=h invoice.observations %></td>
    <td><%=h invoice.sell_id %></td>
    <td><%=h invoice.parcels %></td>
    <td><%=h invoice.natop_id %></td>
    <td><%=h invoice.delivery %></td>
    <td><%=h invoice.freight %></td>
    <td><%=h invoice.insurance %></td>
    <td><%=h invoice.carrier_id %></td>
    <td><%=h invoice.freight_type %></td>
    <td><%=h invoice.nfe %></td>
    <td><%=h invoice.nfe_received_key %></td>
    <td><%=h invoice.nfe_key %></td>
    <td><%=h invoice.nfe_protocol %></td>
    <td><%=h invoice.nfe_env %></td>
    <td><%=h invoice.manaus_discount %></td>
    <td><%=h invoice.canceled %></td>
    <td><%= link_to 'Show', invoice %></td>
    <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
    <td><%= link_to 'Destroy', invoice, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New invoice', new_invoice_path %>