<% content_for :menu do -%>
  <h1>Nova Nota Fiscal</h1>
  <%= mount_menu %>
<% end -%>

<% form_for(@invoice) do |f| %>
  <%= f.error_messages %>
  <%= f.text_field :invoice_number                , :label => "Número da Nota"         , :size => 10, :disabled => 'disabled' %>
  <%= f.text_field :operation                     , :label => "Operação"               , :size => 20, :class => 'datepicker'  %>
  <%= f.select     :seller_id        , @sellers   , :label => "Vendedor"               , :size => 40  %>
  <%= f.text_field :commission_rate               , :label => "Comissão"               , :size => 10  %>
  <%= f.select     :sell_id          , @sells_type, :label => "Tipo"                   , :size => 20  %>

  <% field_set_tag "Cliente" do %>
    <%= f.hidden_field :client_id                  , :label => "Cliente"                , :size => 10  %>
    <%= f.text_field   :client_name                , :label => "Cliente"                , :size => 40, :class => 'autocomplete', :source => 'client', :pref => "invoice_" %>
    <%# PRECISA DO CNPJ DESNORMALIZADO?!?!?!?!?!? %>
    <%= f.select       :term_id        , @terms    , :label => "Termo"                  , :size => 10  %>

    <%= f.text_area    :observations               , :label => "Observações"            , :size => 100 %>
  <% end -%>

  <% field_set_tag "Itens" do -%>
    <%= invoice_item_toolbar f %>
    <% f.fields_for :itens do |ii| %>
      <%= render :partial => "invoice_item_fields", :locals => {:f => ii} %>
    <% end -%>

    <table id="invoice_items" cellpading="0" cellspacing="0" border="0" width="100%">
      <thead>
        <tr>
          <th class="hide">Id do item       </th>
          <th class="hide">Código do Produto</th>
          <th>Produto          </th>
          <th>Quantidade       </th>
          <th class="hide">Unidade de medida</th>
          <th>Número de peças  </th>
          <th>Valor unitário   </th>
          <th>Valor Total      </th>
          <th>ICM              </th>
          <th>IPI              </th>
          <th>Alíquota IPI     </th>
          <th>PIS              </th>
          <th>COFINS           </th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

    <div id="trash" class="hide"></div>
  <% end -%>

  <% field_set_tag "Impostos" do -%>

    <%= f.text_field   :ipi                        , :label => "Total IPI"              , :size => 10  %>
    <%= f.text_field   :icms_base                  , :label => "Base do ICMS"           , :size => 10  %>
    <%= f.text_field   :icms                       , :label => "Total ICMS"             , :size => 10  %>
    <%= f.text_field   :pis                        , :label => "PIS"                    , :size => 10  %>
    <%= f.text_field   :cofins                     , :label => "Cofins"                 , :size => 10  %>

    <%= f.text_field   :products_value             , :label => "Total produtos"         , :size => 10  %>
    <%= f.text_field   :invoice_value              , :label => "Total geral"            , :size => 10  %>
    <%# f.text_field   :activity_id                , :label => "Ramo de atividade"      , :size => 10  %>
    <%= f.text_field   :parcels                    , :label => "Parcelas"               , :size => 10  %>
    <%= f.select       :natop_id       , @cfops    , :label => "Nat. de operação"       , :size => 10  %>
  <% end -%>


  <% field_set_tag "Entrega" do -%>
    <%= f.check_box    :delivery                   , :label => "Entrega"                , :size => 10  %>
    <%= f.text_field   :freight                    , :label => "Frete"                  , :size => 10  %>
    <%= f.select       :freight_type   , @freights , :label => "Tipo do frete"          , :size => 10  %>
    <%= f.text_field   :insurance                  , :label => "Seguro"                 , :size => 10  %>
    <%= f.text_field   :car_id                     , :label => "Transportadora"         , :size => 10  %>
    <%= f.text_field   :manaus_discount            , :label => "Desconto Manaus"        , :size => 10  %>
    <%= f.check_box    :canceled                   , :label => "Cancelada"              , :size => 10  %>
  <% end -%>
<% end %>

