<% content_for :menu do -%>
  <h1>Nova Nota Fiscal</h1>
  <%= mount_menu %>
<% end -%>

<% form_for(@invoice) do |f| %>
  <div class="form-wrapper">
    <%= f.error_messages %>
    <%= f.date_select :operation        , :label => "Operação"                  %>
    <%= f.text_field  :invoice_number   , :label => "Número da Nota"            %>
    <%= f.text_field  :client_id        , :label => "Cliente"                   %>
    <%= f.text_field  :seller_id        , :label => "Vendedor"                  %>
    <%= f.text_field  :term_id          , :label => "Termo"                     %>
    <%= f.text_field  :ipi              , :label => "IPI"                       %>
    <%= f.text_field  :icms_base        , :label => "Base do ICMS"              %>
    <%= f.text_field  :icms             , :label => "ICMS"                      %>
    <%= f.text_field  :pis              , :label => "PIS"                       %>
    <%= f.text_field  :cofins           , :label => "COFINS"                    %>
    <%= f.text_field  :products_value   , :label => "Valor dos produtos"        %>
    <%= f.text_field  :invoice_value    , :label => "Valor da Nota"             %>
    <%= f.text_field  :commission_rate  , :label => "Percentagem de comissão"   %>
    <%= f.text_field  :activity_id      , :label => "Ramo de atividade"         %>
    <%= f.text_area   :observations     , :label => "Observações"               %>
    <%= f.text_field  :sell_id          , :label => "Vendedor"                  %>
    <%= f.text_field  :parcels          , :label => "Parcelas"                  %>
    <%= f.text_field  :natop_id         , :label => "Natureza da operação"      %>
    <%= f.check_box   :delivery         , :label => "Entrega"                   %>
    <%= f.text_field  :freight          , :label => "Frete"                     %>
    <%= f.text_field  :freight_type     , :label => "Tipo do frete"             %>
    <%= f.text_field  :insurance        , :label => "Seguro"                    %>
    <%= f.text_field  :carrier_id       , :label => "Transportadora"            %>
    <%= f.text_field  :manaus_discount  , :label => "Desconto Manaus"           %>
    <%= f.check_box   :canceled         , :label => "Cancelada"                 %>
  </div>
<% end %>

