<% content_for :menu do -%>
  <h1>Nota Fiscal</h1>
  <%= mount_menu %>
<% end -%>


<%= print_content "Operação"                 , h(@invoice.operation)       %>
<%= print_content "Número da NF"             , h(@invoice.invoice_number)  %>
<%= print_content "Cliente"                  , h(@invoice.client_id)       %>
<%= print_content "Vendedor"                 , h(@invoice.seller_id)       %>
<%= print_content "Termo"                    , h(@invoice.term_id)         %>
<%= print_content "IPI"                      , h(@invoice.ipi)             %>
<%= print_content "Base do ICMS"             , h(@invoice.icms_base)       %>
<%= print_content "ICMS"                     , h(@invoice.icms)            %>
<%= print_content "PIS"                      , h(@invoice.pis)             %>
<%= print_content "Cofins"                   , h(@invoice.cofins)          %>
<%= print_content "Valor dos produtos"       , h(@invoice.products_value)  %>
<%= print_content "Valor da NF"              , h(@invoice.invoice_value)   %>
<%= print_content "Percentagem de comição"   , h(@invoice.commission_rate) %>
<%= print_content "Ramo de tividade"         , h(@invoice.activity.id)     %>
<%= print_content "Observações"              , h(@invoice.observations)    %>
<%= print_content "Vendedor"                 , h(@invoice.sell_id)         %>
<%= print_content "parcela"                  , h(@invoice.parcels)         %>
<%= print_content "Natureza da operação"     , h(@invoice.natop_id)        %>
<%= print_content "Entrega"                  , h(@invoice.delivery)        %>
<%= print_content "Frete"                    , h(@invoice.freight)         %>
<%= print_content "Tipo de frete"            , h(@invoice.freight_type)    %>
<%= print_content "Seguro"                   , h(@invoice.insurance)       %>
<%= print_content "Transportadora"           , h(@invoice.carrier_id)      %>
<%= print_content "Nfe"                      , h(@invoice.nfe)             %>
<%= print_content "Disconto manaus"          , h(@invoice.manaus_discount) %>
<%= print_content "Cancelada"                , h(@invoice.canceled)        %>

