<% content_for :menu do -%>
  <h1>Editando representante</h1>
  <%= mount_menu %>
<% end -%>

<% form_for(@seller) do |f| %>
  <%= f.error_messages %>


  <%= f.text_area  :observation, :label => 'Observações' %>
  <%= f.text_field :name       , :label => 'Nome'        , :size => 50 %>
  <%= f.text_field :bank_id    , :label => 'Banco'       %>
  <%= f.text_field :contact    , :label => 'Contato'     , :size => 50 %>
  <%= f.text_field :agency     , :label => 'Agência'     %>
  <%= f.text_field :core       , :label => 'Core'        %>
  <%= f.text_field :person     , :label => 'Pessoa'      %>
  <%= f.text_field :account    , :label => 'Conta'       %>
  <%= f.text_field :cnpj       , :label => 'CNPJ'        %>
  <%= f.text_field :document   , :label => 'Documento'   %>
  <%= f.check_box  :iss        , :label => 'ISS'         %>
  <%= f.text_field :inss_base  , :label => 'INSS Base'   %>

  <% field_set_tag "Endereço" do %>
    <%= address_toolbar ['map', 'cep'] %>
    <% f.fields_for :address do |a| %>
      <%= a.text_field :cep                  , :label => "CEP"         , :class => 'mask-cep' %>
      <%= a.text_field :street               , :label => "Endereço"                           %>
      <%= a.text_field :number               , :label => "Número"                             %>
      <%= a.text_field :complement           , :label => "Complemento"                        %>
      <%= a.text_field :neighborhood         , :label => "Bairro"                             %>
      <%= a.text_field :city                 , :label => "Cidade"                             %>
      <%= a.select     :estate_id, @estate   , :label => "Estado"                             %>
      <%= a.text_field :country              , :label => "País"                               %>
    <% end %>
  <% end %>
    
<% end %>

