<% content_for :menu do -%>
  <h1>Novo Cofins</h1>
  <%= mount_menu %>
<% end -%>

<% form_for(@st_cofin) do |f| %>
  <%= f.error_messages %>

  <%= f.text_field :name             , :label => "Nome"                 , :size => 50 %>
  <%= f.text_field :aliquot          , :label => "Alíquota"             , :size => 20 %>
  <%= f.check_box  :taxed            , :label => "Tributada"            , :size => 10 %>
  <%= f.check_box  :differential_rate, :label => "Alíquota diferenciada", :size => 10 %>
  <%= f.check_box  :zero_rate        , :label => "Alíquota zero"        , :size => 10 %>
<% end %>

