<% content_for :menu do -%>
  <h1>Editando Usuário</h1>
  <%= mount_menu %>
<% end -%>

<% form_for(@user) do |f| %>
  <div class="form-wrapper">
    <%= f.error_messages %>
    <%= f.text_field     :name                 , :label => 'Nome'             %>
    <%= f.text_field     :login                , :label => 'Login'            %>
    <%= f.text_field     :email                , :label => 'E-Mail'           %>
    <%= f.password_field :password             , :label => 'Senha'            %>
    <%= f.password_field :password_confirmation, :label => 'Confirme a senha' %>
  </div>
<% end %>

