<h1>Listing users</h1>

<%= mount_menu %>

<table id="list" cellpading="0" cellspacing="0" border="0" width="100%">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Login</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%=h user.id %></td>
      <td><%=h user.name %></td>
      <td><%=h user.login %></td>
      <td><%=h user.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>

