<% content_for :menu do -%>
  <h1>Usuário</h1>
  <%= mount_menu %w[default separator] %>
  <%= link_to 'Permissões', permission_path(@user.id), :class => 'button', :icon => "locked" %>
<% end -%>

<%= print_content "Nome"  , h(@user.name)  %>
<%= print_content "Login" , h(@user.login) %>
<%= print_content "E-Mail", h(@user.email) %>

