<h1>Editando Cliente</h1>

<% form_for(@client) do |f| %>
  <%= f.error_messages %>

  <%= mount_menu %>

  <p>
    <%= f.label :name, "Raz. Social" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :nickname, "Apelido" %><br />
    <%= f.text_field :nickname %>
  </p>
  <p>
    <%= f.label :cnpj, "CNPJ" %><br />
    <%= f.text_field :cnpj %>
  </p>
  <p>
    <%= f.label :ie, "IE" %><br />
    <%= f.text_field :ie %>
  </p>
  <p>
    <%= f.label :active, "Ativo" %><br />
    <%= f.check_box :active %>
  </p>
  <p>
    <%= f.label :sci, "SCI" %><br />
    <%= f.text_field :sci %>
  </p>
  <p>
    <%= f.label :activity, "Ramo de atividade" %><br />
    <%= f.text_field :activity %>
  </p>
  <p>
    <%= f.label :main_address_id %><br />
    <%= f.text_field :main_address_id %>
  </p>
  <p>
    <%= f.label :billing_address_id %><br />
    <%= f.text_field :billing_address_id %>
  </p>
  <p>
    <%= f.label :delivery_address_id %><br />
    <%= f.text_field :delivery_address_id %>
  </p>
<% end %>

