<h1>Clientes</h1>

<%= mount_menu %>

<table id="list" cellpading="0" cellspacing="0" border="0" width="100%">
  <thead>
    <tr>
      <th>Id</th>
      <th>Razão Social</th>
      <th>Fantasia</th>
      <th>CNPJ</th>
      <th>IE</th>
      <th>Ativo</th>
      <th>Atividade</th>
    </tr>
  </thead>

  <tbody>
  <% @clients.each do |client| %>
    <tr>
      <td><%=h client.id %></td>
      <td><%=h client.name %></td>
      <td><%=h client.nickname %></td>
      <td><%=h client.cnpj %></td>
      <td><%=h client.ie %></td>
      <td><%=h client.active %></td>
      <td><%=h client.activity %></td>
    </tr>
  <% end %>
  </tbody>
</table>

