<% content_for :menu do %>
  <h1>Novo Cliente</h1>
  <%= mount_menu %>
<% end %>

<% form_for(@client) do |f| %>

  <div class="form-wrapper">

    <%= f.error_messages %>

    <% field_set_tag "Dados do cliente" do %>
      <%= f.text_field :name    , :label => "Raz. Social"       %>
      <%= f.text_field :nickname, :label => "Fantasia"          %>
      <%= f.text_field :cnpj    , :label => "CNPJ"              %>
      <%= f.text_field :ie      , :label => "IE"                %>
      <%= f.check_box  :active  , :label => "Ativo"             , :checked => true %>
      <%= f.text_field :sci     , :label => "SCI"               %>
      <%= f.text_field :activity, :label => "Ramo de atividade" %>
    <% end %>

    <% field_set_tag "Endereço principal" do %>
      <% f.fields_for :main_address do |ma| %>
        <%= ma.text_field :street      , :label => "Endereço"    %>
        <%= ma.text_field :number      , :label => "Número"      %>
        <%= ma.text_field :complement  , :label => "Complemento" %>
        <%= ma.text_field :neighborhood, :label => "Bairro"      %>
        <%= ma.text_field :city        , :label => "Cidade"      %>
        <%= ma.text_field :estate      , :label => "Estado"      %>
        <%= ma.text_field :country     , :label => "País"        %>
        <%= ma.text_field :cep         , :label => "CEP"         %>
      <% end %>
    <% end %>

    <% field_set_tag "Endereço de cobrança" do %>
      <% f.fields_for :billing_address do |ba| %>
        <%= ba.text_field :street      , :label => "Endereço"    %>
        <%= ba.text_field :number      , :label => "Número"      %>
        <%= ba.text_field :complement  , :label => "Complemento" %>
        <%= ba.text_field :neighborhood, :label => "Bairro"      %>
        <%= ba.text_field :city        , :label => "Cidade"      %>
        <%= ba.text_field :estate      , :label => "Estado"      %>
        <%= ba.text_field :country     , :label => "País"        %>
        <%= ba.text_field :cep         , :label => "CEP"         %>
      <% end %>
    <% end %>

    <% field_set_tag "Endereço de entrega" do %>
      <% f.fields_for :delivery_address do |da| %>
        <%= da.text_field :street      , :label => "Endereço"    %>
        <%= da.text_field :number      , :label => "Número"      %>
        <%= da.text_field :complement  , :label => "Complemento" %>
        <%= da.text_field :neighborhood, :label => "Bairro"      %>
        <%= da.text_field :city        , :label => "Cidade"      %>
        <%= da.text_field :estate      , :label => "Estado"      %>
        <%= da.text_field :country     , :label => "País"        %>
        <%= da.text_field :cep         , :label => "CEP"         %>
      <% end %>
    <% end %>
  </div>

<% end %>

