<% content_for :menu do %>
  <h1>Novo Cliente</h1>
  <%= mount_menu %>
<% end %>

<% form_for(@client) do |f| %>

  <div class="form-wrapper">

    <%= f.error_messages %>

    <% field_set_tag "Dados do cliente" do %>
      <%= f.text_field :code                                                , :label => "Cógigo"               , :size => 20 , :required => true, :class => "mask-code" %>
      <%= f.text_field :name                                                , :label => "Raz. Social"          , :size => 50 , :required => true %>
      <%= f.text_field :nickname                                            , :label => "Fantasia"             , :size => 30 %>
      <%= f.text_area  :observations                                        , :label => "Observações"          , :size => 50 %>
      <%= f.text_field :cnpj                                                , :label => "CNPJ"                 , :class => "mask-cnpj" %>
      <%= f.text_field :ie                                                  , :label => "Inscriçao Estadual"   %>
      <%= f.text_field :im                                                  , :label => "Inscriçao Municipal"  %>
      <%= f.text_field :sci                                                 , :label => "SCI"                  %>
      <%= f.select     :activity_id, @activities                            , :label => "Ramo de atividade"    , :include_blank => true, :required => true %>
      <%= f.select     :ind_com    , [["Indústria", "I"], ["Comércio", "C"]], :label => "Indústria & Comércio" %>
      <%= f.text_field :email_nfe                                           , :label => "E-mail NFe"           %>
      <%= f.check_box  :active                                              , :label => "Ativo"                , :checked => true %>
    <% end %>

    <% field_set_tag "Endereço principal" do %>
      <%= address_toolbar %>
      <% f.fields_for :main_address do |ma| %>
        <%= ma.text_field   :cep               , :label => "CEP"         , :class => 'mask-cep' %>
        <%= ma.text_field   :street            , :label => "Endereço"                           %>
        <%= ma.text_field   :number            , :label => "Número"                             %>
        <%= ma.text_field   :complement        , :label => "Complemento"                        %>
        <%= ma.text_field   :neighborhood      , :label => "Bairro"                             %>
        <%= ma.select       :estate_id, @estate, :label => "Estado"                             %>
        <%= ma.hidden_field :city_id           , :label => "Id da Cidade"                          %>
        <%= ma.text_field   :city              , :label => "cidade"      , :class => "autocomplete", :source => "city", :pref => "client_main_address_attributes_" %>
        <%= ma.text_field   :country           , :label => "País"                               %>
      <% end %>
    <% end %>

    <% field_set_tag "Endereço de cobrança" do %>
      <%= address_toolbar %>
      <% f.fields_for :billing_address do |ba| %>
        <%= ba.text_field   :cep               , :label => "CEP"         , :class => 'mask-cep' %>
        <%= ba.text_field   :street            , :label => "Endereço"                           %>
        <%= ba.text_field   :number            , :label => "Número"                             %>
        <%= ba.text_field   :complement        , :label => "Complemento"                        %>
        <%= ba.text_field   :neighborhood      , :label => "Bairro"                             %>
        <%= ba.select       :estate_id, @estate, :label => "Estado"                             %>
        <%= ba.hidden_field :city_id           , :label => "Id da Cidade"                       %>
        <%= ba.text_field   :city              , :label => "cidade"      , :class => "autocomplete", :source => "city", :pref => "client_billing_address_attributes_" %>
        <%= ba.text_field   :country           , :label => "País"                               %>
      <% end %>
    <% end %>

    <% field_set_tag "Endereço de entrega" do %>
      <%= address_toolbar %>
      <% f.fields_for :delivery_address do |da| %>
        <%= da.text_field   :cep               , :label => "CEP"         , :class => 'mask-cep' %>
        <%= da.text_field   :street            , :label => "Endereço"                           %>
        <%= da.text_field   :number            , :label => "Número"                             %>
        <%= da.text_field   :complement        , :label => "Complemento"                        %>
        <%= da.text_field   :neighborhood      , :label => "Bairro"                             %>
        <%= da.select       :estate_id, @estate, :label => "Estado"                             %>
        <%= da.hidden_field :city_id           , :label => "Id da Cidade"                       %>
        <%= da.text_field   :city              , :label => "cidade"      , :class => "autocomplete", :source => "city", :pref => "client_delivery_address_attributes_" %>
        <%= da.text_field   :country           , :label => "País"                               %>
      <% end %>
    <% end %>

    <% field_set_tag 'Contatos' do %>
      <% f.fields_for :contacts do |co| %>
        <%= co.text_field :name                       , :label => "Nome"         %>
        <%= co.text_field :email                      , :label => "E-mail"       %>
        <%= co.select     :department_id, @departments, :label => "Departamento" %>
        <%= co.select     :function_id  , @functions  , :label => "Função"       %>

        <% co.fields_for :phones do |ph| %>
          <%= ph.text_field :number                   , :label => "Telefone"    , :class => "mask-phone" %>
          <%= ph.hidden_field :main %>
        <% end %>
        <div class="clear" style="height: 20px"> </div>
      <% end %>
    <% end %>
  </div>

<% end %>

<%= render :partial => "js_new_edit" %>

