<%= mount_menu %>

<p>
  <b>Name:</b>
  <%=h @client.name %>
</p>

<p>
  <b>Nickname:</b>
  <%=h @client.nickname %>
</p>

<p>
  <b>Cnpj:</b>
  <%=h @client.cnpj %>
</p>

<p>
  <b>Ie:</b>
  <%=h @client.ie %>
</p>

<p>
  <b>Active:</b>
  <%=h @client.active %>
</p>

<p>
  <b>Sci:</b>
  <%=h @client.sci %>
</p>

<p>
  <b>Activity:</b>
  <%=h @client.activity %>
</p>

<p>
  <b>Main address:</b>
  <%=h @client.main_address_id %>
</p>

<p>
  <b>Billing address:</b>
  <%=h @client.billing_address_id %>
</p>

<p>
  <b>Delivery address:</b>
  <%=h @client.delivery_address_id %>
</p>

