<% content_for :menu do %>
  <h1>Cliente</h1>
  <%= mount_menu %>
<% end %>

<%= print_content "Razão Social"     , h(@client.name)                         %>
<%= print_content "Fantasia"         , h(@client.nickname)                     %>
<%= print_content "CNPJ"             , h(@client.cnpj)                         %>
<%= print_content "IE"               , h(@client.ie)                           %>
<%= print_content "Situação"         , h(@client.active ? "Ativo" : "Inativo") %>
<%= print_content "Ramo de atividade", h(@client.activity.name)                %>

<h2>Endereço principal</h2>
<%= print_content "Endereço"   , h(@main_address.street)                                   %>
<%= print_content "Número"     , h(@main_address.number)                                   %>
<%= print_content "Complemento", h(@main_address.complement)                               %>
<%= print_content "Bairro"     , h(@main_address.neighborhood)                             %>
<%= print_content "Cidade"     , h(@main_address.city)                                     %>
<%= print_content "Estado"     , h((@main_address.estate.name if @main_address.estate_id)) %>
<%= print_content "País"       , h(@main_address.country)                                  %>
<%= print_content "CEP"        , h(@main_address.cep)                                      %>

<h2>Endereço cobrança</h2>
<%= print_content "Endereço"   , h(@billing_address.street)                                      %>
<%= print_content "Número"     , h(@billing_address.number)                                      %>
<%= print_content "Complemento", h(@billing_address.complement)                                  %>
<%= print_content "Bairro"     , h(@billing_address.neighborhood)                                %>
<%= print_content "Cidade"     , h(@billing_address.city)                                        %>
<%= print_content "Estado"     , h((@billing_address.estate.name if @billing_address.estate_id)) %>
<%= print_content "País"       , h(@billing_address.country)                                     %>
<%= print_content "CEP"        , h(@billing_address.cep)                                         %>

<h2>Endereço entrega</h2>
<%= print_content "Endereço"   , h(@delivery_address.street)                                       %>
<%= print_content "Número"     , h(@delivery_address.number)                                       %>
<%= print_content "Complemento", h(@delivery_address.complement)                                   %>
<%= print_content "Bairro"     , h(@delivery_address.neighborhood)                                 %>
<%= print_content "Cidade"     , h(@delivery_address.city)                                         %>
<%= print_content "Estado"     , h((@delivery_address.estate.name if @delivery_address.estate_id)) %>
<%= print_content "País"       , h(@delivery_address.country)                                      %>
<%= print_content "CEP"        , h(@delivery_address.cep)                                          %>


<% unless @contacts.blank? %>
<h2>Contatos</h2>

<% @contacts.each do |c| %>

  <%= print_content "Nome"  , h(c.name)           , 50 %>
  <%= print_content "Setor" , h(c.department.name)     %>
  <%= print_content "Função", h(c.function.name)       %>
<%   end
   end %>

<div style="float:left;width:50%">
  <div style="padding:10px 5px 0 0;">
    <h2>NF's</h2>
    <%= table @invoices, ["operation", "Data", {:class => "center", :format => "l"}], ["invoice_number", "Número", {:class => "center"}], ["invoice_value", "Valor da Nota", {:class => "right", :format => "number_to_currency"}] %>
  </div>
</div>

<div style="float:left;width:50%">
  <div style="padding:10px 0 0 5px;">
    <h2>Cobranças</h2>
    <%= table @receivables, ["parcel", "Parcela", {:class => "center"}], ["due_date", "Vencimento", {:class => "center", :format => "l"}], ["value", "Valor", {:class => "right", :format => "number_to_currency"}] %>
  </div>
</div>

