<% content_for :menu do %>
  <h1>Cliente</h1>
  <%= mount_menu %>
<% end %>

<h2>Dados principais</h2>
  <%= print_content "Razão Social"        , h(@client.name)                         , 50 %>
  <%= print_content "Fantasia"            , h(@client.nickname)                     , 50 %>
  <%= print_content "CNPJ"                , h(@client.cnpj)                         %>
  <%= print_content "Inscrição Estadual"  , h(@client.ie)                           %>
  <%= print_content "Inscrição Municipal" , h(@client.im)                           %>
  <%= print_content "SCI"                 , h(@client.sci)                          %>
  <%= print_content "Situação"            , h(@client.active ? "Ativo" : "Inativo") %>
  <%= print_content "Ramo de atividade"   , h(@client.activity.name)                %>
  <%= print_content "Observações"         , h(@client.observations)                 , 100 %>
  <div class="clear"></div>

<% unless @main_contact.blank? %>
  <h2>Contato Principal</h2>
    <%= print_content "Nome"   , h(@main_contact.name)            %>
    <%= print_content "Setor"  , h(@main_contact.department.name) %>
    <%= print_content "Função" , h(@main_contact.function.name)   %>
    <%= print_content "E-mail" , h(@main_contact.email)           %>
    <% @main_contact.phones.each do |phone| -%>
      <%= print_content "Telefone" , h(phone.number) %>
    <% end -%>
    <div class="clear"></div>
<% end -%>

<h2>Endereço principal</h2>
<div class="toggleable">
  <%= address_toolbar 'map' %>

  <%= print_content "CEP"        , h(@main_address.cep)                                      %>
  <%= print_content "Endereço"   , h(@main_address.street)                                   %>
  <%= print_content "Número"     , h(@main_address.number)                                   %>
  <%= print_content "Complemento", h(@main_address.complement)                               %>
  <%= print_content "Bairro"     , h(@main_address.neighborhood)                             %>
  <%= print_content "Cidade"     , h(@main_address.city)                                     %>
  <%= print_content "Estado"     , h((@main_address.estate.name if @main_address.estate_id)) %>
  <%= print_content "País"       , h(@main_address.country)                                  %>
  <div class="clear"></div>
</div>

<h2>Endereço cobrança</h2>
<div class="toggleable">
  <%= address_toolbar 'map' %>

  <%= print_content "CEP"        , h(@billing_address.cep)                                         %>
  <%= print_content "Endereço"   , h(@billing_address.street)                                      %>
  <%= print_content "Número"     , h(@billing_address.number)                                      %>
  <%= print_content "Complemento", h(@billing_address.complement)                                  %>
  <%= print_content "Bairro"     , h(@billing_address.neighborhood)                                %>
  <%= print_content "Cidade"     , h(@billing_address.city)                                        %>
  <%= print_content "Estado"     , h((@billing_address.estate.name if @billing_address.estate_id)) %>
  <%= print_content "País"       , h(@billing_address.country)                                     %>
  <div class="clear"></div>
</div>

<h2>Endereço entrega</h2>
<div class="toggleable">
  <%= address_toolbar 'map' %>

  <%= print_content "CEP"        , h(@delivery_address.cep)                                          %>
  <%= print_content "Endereço"   , h(@delivery_address.street)                                       %>
  <%= print_content "Número"     , h(@delivery_address.number)                                       %>
  <%= print_content "Complemento", h(@delivery_address.complement)                                   %>
  <%= print_content "Bairro"     , h(@delivery_address.neighborhood)                                 %>
  <%= print_content "Cidade"     , h(@delivery_address.city)                                         %>
  <%= print_content "Estado"     , h((@delivery_address.estate.name if @delivery_address.estate_id)) %>
  <%= print_content "País"       , h(@delivery_address.country)                                      %>
  <div class="clear"></div>
</div>


<% unless @other_contacts.blank? %>
<h2>Contatos</h2>
<div class="toggleable">
  <% @other_contacts.each do |c| %>

    <%= print_content "Nome"  , h(c.name)            %>
    <%= print_content "E-mail", h(c.email)  %>
    <%= print_content "Setor" , h(c.department.name) %>
    <%= print_content "Função", h(c.function.name)   %>

    <% c.phones.each do |phone| -%>
      <%= print_content "Telefone", h(phone.number)  %>
    <% end -%>

    <div class="clear" style="height: 10px"> </div>
  <% end %>
</div>
<% end %>

<div class="clear"></div>

<div style="float:left;width:50%">
  <div style="padding:10px 5px 0 0;">
    <h2>NF's</h2>
    <table class="list personal_list" cellpading="0" cellspacing="0" border="0" width="100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Data</th>
          <th>Número</th>
          <th>Valor da Nota</th>
        </tr>
      </thead>
      <tbody>
        <% @invoices.each do |invoice| -%>
        <tr>
          <td class="right"><%= invoice.id %></td>
          <td class="center"><%= l(invoice.operation) %></td>
          <td class="center"><%= invoice.invoice_number %></td>
          <td class="right"><%= number_to_currency(invoice.invoice_value) %></td>
        </tr>
        <% end -%>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3" style="text-align: right">Total: </th>
          <th class="sum right"> </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<div style="float:left;width:50%">
  <div style="padding:10px 0 0 5px;">
    <h2>Cobranças</h2>
    <table class="list personal_list" cellpading="0" cellspacing="0" border="0" width="100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Parcela</th>
          <th>Vencimento</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <% @receivables.each do |receivable| -%>
        <tr>
          <td class="right"><%= receivable.id %></td>
          <td class="center"><%= receivable.parcel %></td>
          <td class="center"><%= l(receivable.due_date) %></td>
          <td class="right"><%= number_to_currency(receivable.value) %></td>
        </tr>
        <% end -%>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3" style="text-align: right">Total: </th>
          <th class="sum right"> </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<script type="text/javascript">

    $('table.personal_list').dataTable({
			  "bJQueryUI": true
			, "sPaginationType": "full_numbers"
			, "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Tudo"]]
			, "oLanguage": { "sUrl": "/javascripts/dataTable/pt_BR.txt" }
      , "fnFooterCallback": function ( nRow, aaData, iStart, iEnd, aiDisplay ) {
	        var iTotal = 0;
	        //Soma das NF's visíveis
          for ( var i=iStart ; i<iEnd ; i++ )
	        {
	          iVal = aaData[aiDisplay[i]][3].replace('R$ ', '').replace(/\./gi, '').replace(',', '.')*1;
		        iTotal += iVal;
	        }
	        $('.sum', this).text('R$ '+ toCurrency(iTotal.toFixed(2)));
        }
		});

    $('.map').click(function(){
      context = $(this).parent().parent();
      fields = $('div.pcontent', context);

      values = [];
      fields.each(function(){
        values.push($(this).children('span').text());
      });

      cep = values[0];
      stt = values[1];
      nbr = values[2];
      nbh = values[4];
      cty = values[5];
      ett = values[6];

      address = escape(stt + ', ' + nbr + ' - ' + nbh + ', ' + cty + ' - ' + ett + ', ' + cep);
      $(this).attr('href', 'http://maps.google.com.br?q=' + address);
    });
</script>

