<% content_for :menu do%>
  <h1>Cliente</h1>
  <%= mount_menu %>
<% end %>

<p>
  <b>Razão Social:</b>
  <%=h @client.name %>
</p>

<p>
  <b>Fantasia:</b>
  <%=h @client.nickname %>
</p>

<p>
  <b>CNPJ:</b>
  <%=h @client.cnpj %>
</p>

<p>
  <b>IE:</b>
  <%=h @client.ie %>
</p>

<p>
  <b>Situação:</b>
  <%= @client.active ? "Ativo" : "Inativo" %>
</p>

<p>
  <b>Ramo de atividade:</b>
  <%=h @client.activity.name if @client.activity_id %>
</p>


<h2>Endereço principal</h2>
<p>
  <b>Endereço:</b>
  <%=h @main_address.street %>
</p>
<p>
  <b>Número:</b>
  <%=h @main_address.number %>
</p>
<p>
  <b>Complemento:</b>
  <%=h @main_address.complement %>
</p>
<p>
  <b>Bairro:</b>
  <%=h @main_address.neighborhood %>
</p>
<p>
  <b>Cidade:</b>
  <%=h @main_address.city %>
</p>
<p>
  <b>Estado:</b>
  <%=h @main_address.estate.name if @main_address.estate_id %>
</p>
<p>
  <b>País:</b>
  <%=h @main_address.country %>
</p>
<p>
  <b>CEP:</b>
  <%=h @main_address.cep %>
</p>


<h2>Endereço de cobrança</h2>
<p>
  <b>Endereço:</b>
  <%=h @billing_address.street %>
</p>
<p>
  <b>Número:</b>
  <%=h @billing_address.number %>
</p>
<p>
  <b>Complemento:</b>
  <%=h @billing_address.complement %>
</p>
<p>
  <b>Bairro:</b>
  <%=h @billing_address.neighborhood %>
</p>
<p>
  <b>Cidade:</b>
  <%=h @billing_address.city %>
</p>
<p>
  <b>Estado:</b>
  <%=h @billing_address.estate.name if @billing_address.estate_id %>
</p>
<p>
  <b>País:</b>
  <%=h @billing_address.country %>
</p>
<p>
  <b>CEP:</b>
  <%=h @billing_address.cep %>
</p>


<h2>Endereço de entrega</h2>
<p>
  <b>Endereço:</b>
  <%=h @delivery_address.street %>
</p>
<p>
  <b>Número:</b>
  <%=h @delivery_address.number %>
</p>
<p>
  <b>Complemento:</b>
  <%=h @delivery_address.complement %>
</p>
<p>
  <b>Bairro:</b>
  <%=h @delivery_address.neighborhood %>
</p>
<p>
  <b>Cidade:</b>
  <%=h @delivery_address.city %>
</p>
<p>
  <b>Estado:</b>
  <%=h @delivery_address.estate.name if @delivery_address.estate_id %>
</p>
<p>
  <b>País:</b>
  <%=h @delivery_address.country %>
</p>
<p>
  <b>CEP:</b>
  <%=h @delivery_address.cep %>
</p>

