<% content_for :menu do %>
  <h1>Cliente</h1>
  <%= mount_menu %w[default separator upload] %>
  <%= btn_upload_photos @client.id %>
  <%= link_to 'Refresh', @client, :class => 'hide', :id => "refresh" %>
<% end %>

<h2>Dados principais</h2>
  <%= print_content "Código"              , h(@client.code)                         , :width => 20%>
  <%= print_content "Razão Social"        , h(@client.name)                         , :width => 50 %>
  <%= print_content "Fantasia"            , h(@client.nickname)                     , :width => 30 %>
  <%= print_content "CNPJ / CPF"          , h(@client.doc)                          %>
  <%= print_content "Inscrição Estadual"  , h(@client.ie)                           %>
  <%= print_content "Inscrição Municipal" , h(@client.im)                           %>
  <%= print_content "SCI"                 , h(@client.sci)                          %>
  <%= print_content "Situação"            , h(@client.active ? "Ativo" : "Inativo") %>
  <%= print_content "Ramo de atividade"   , h(@client.activity.name)                %>
  <%= print_content "Observações"         , h(@client.observations)                 , :width => 100 %>
<div class="clear"></div>

<% unless @main_contact.blank? %>
  <h2>Contato Principal</h2>
    <%= print_content "Nome"   , h(@main_contact.name)            %>
    <%= print_content "Setor"  , h(@main_contact.department.name) %>
    <%= print_content "Função" , h(@main_contact.function.name)   %>
    <%= print_content "E-mail" , h(@main_contact.email)           , :email => true %>
    <% @main_contact.phones.each do |phone| -%>
      <%= print_content "Telefone" , h(phone.number) %>
    <% end -%>
    <div class="clear"></div>
<% end -%>

<%= address_container 'Endereço principal', @main_address     %>

<%= address_container 'Endereço cobrança' , @billing_address  %>

<%= address_container 'Endereço entrega'  , @delivery_address %>


<% unless @other_contacts.blank? %>
<h2>Contatos</h2>
<div class="toggleable">
  <% @other_contacts.each do |c| %>

    <%= print_content "Nome"  , h(c.name)            %>
    <%= print_content "E-mail", h(c.email)           , :email => true %>
    <%= print_content "Setor" , h(c.department.name) %>
    <%= print_content "Função", h(c.function.name)   %>

    <% c.phones.each do |phone| -%>
      <%= print_content "Telefone", h(phone.number)  %>
    <% end -%>

    <div class="clear" style="height: 10px"> </div>
  <% end %>
</div>
<% end %>

<div class="clear"></div>

<div style="float:left;width:50%">
  <div style="padding:10px 5px 0 0;">
    <h2>NF's</h2>
    <table class="personal_list" cellpading="0" cellspacing="0" border="0" width="100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Data</th>
          <th>Número</th>
          <th>Valor da Nota</th>
        </tr>
      </thead>
      <tbody>
        <% @invoices.each do |invoice| -%>
        <tr>
          <td class="right"><%= invoice.id %></td>
          <td class="center"><%= l(invoice.operation) %></td>
          <td class="center"><%= invoice.invoice_number %></td>
          <td class="right"><%= number_to_currency(invoice.invoice_value) %></td>
        </tr>
        <% end -%>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3" style="text-align: right">Total: </th>
          <th class="sum right"> </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<div style="float:left;width:50%">
  <div style="padding:10px 0 0 5px;">
    <h2>Cobranças</h2>
    <table class="personal_list" cellpading="0" cellspacing="0" border="0" width="100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Parcela</th>
          <th>Vencimento</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <% @receivables.each do |receivable| -%>
        <tr>
          <td class="right"><%= receivable.id %></td>
          <td class="center"><%= receivable.parcel %></td>
          <td class="center"><%= l(receivable.due_date) %></td>
          <td class="right"><%= number_to_currency(receivable.value) %></td>
        </tr>
        <% end -%>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3" style="text-align: right">Total: </th>
          <th class="sum right"> </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<div class="clear"></div>

<%= render :partial => "attachments/attachments_table" %>

<% content_for :script do -%>
//<script type="text/javascript">


  $('#send_photos').click(function(){
    var t = $(this);
    var url = t.attr('href');
    showModal({
      url: url,
      width: 700,
      height: 350,
      title: 'Envie as photos para os crachás.',
      buttons: [{
        text:'Enviar',
        click: function(){
          $('#waiting', frames[ifm].document).fadeTo('normal', 0.7);
          $('form'    , frames[ifm].document).submit();
        }
      }]
    });
    return false;
  });


    var conf = {"fnFooterCallback": function ( nRow, aaData, iStart, iEnd, aiDisplay ) {
      var iTotal = 0;
      //Soma das NF's visíveis
      for ( var i=iStart ; i<iEnd ; i++ )
      {
        iVal = aaData[aiDisplay[i]][3].replace('R$ ', '').replace(/\./gi, '').replace(',', '.')*1;
        iTotal += iVal;
      }
      $('.sum', this).text('R$ '+ toCurrency(iTotal.toFixed(2)));
    }};

    var newConf = $.extend({}, dTableConfig, conf);

    $('table.personal_list').dataTable(newConf);

<% end -%>

