<% content_for :menu do -%>
  <h1>Fluxo de caixa</h1>
  <%= link_to "Filtrar", "#", {:class => "button save", :icon => "search"} %>
  <%= btn_separator %>
  <%= menu %>
<% end -%>

<% form_for :flow, :url => {:controller => "financial_report", :action => "cash_flow_show"} do |f| -%>
  <%= f.text_field :starts_at, :label => "Início" , :value => @filter[:starts_at], :class => "datepicker" %>
  <%= f.text_field :ends_at  , :label => "Término", :value => @filter[:ends_at]  , :class => "datepicker" %>
<% end -%>

<div class="clear"></div>

<table class="simple-list" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>Data</th>
      <th>A pagar</th>
      <th>Pago</th>
      <th>A receber</th>
      <th>Recebido</th>
      <th>Saldo período</th>
      <th>Total acumulado</th>
    </tr>
  </thead>
  <tbody>
  <% acumulated = 0 %>
  <% @cash_flow.each do |cf| %>
    <tr>
      <td class="center"><%= date(cf.date) %></td>
      <td class="right" ><%= number_to_currency(cf.pay)     %></td>
      <td class="right" ><%= number_to_currency(cf.payd)    %></td>
      <td class="right" ><%= number_to_currency(cf.rec)     %></td>
      <td class="right" ><%= number_to_currency(cf.recd)    %></td>
      <td class="right" ><%= number_to_currency(cf.total)   %></td>
      <td class="right" ><%= number_to_currency(acumulated) %></td>
    </tr>
    <% acumulated += cf.total %>
  <% end %>
  </tbody>
</table>