<% content_for :menu do -%>
  <h1>Demonstrativo</h1>
  <%= link_to "Filtrar", "#", {:class => "button save", :icon => "search"} %>
  <%= btn_separator %>
  <%= menu %>
<% end -%>

<% form_for :flow, :url => {:controller => "financial_report", :action => "cash_flow_show"} do |f| -%>
  <%= f.text_field :starts_at        , :label => "Início" , :class => "datepicker", :value => @filter[:starts_at] %>
  <%= f.text_field :ends_at          , :label => "Término", :class => "datepicker", :value => @filter[:ends_at] %>
  <%= f.text_field :balance          , :label => "Saldo"  , :class => "mask-decimal", :decimal => "10,2", :value => @filter[:balance] %>
<% end -%>
