<% content_for :menu do -%>
  <h1>Despesas</h1>
  <%= link_to "Filtrar", "#", {:class => "button save", :icon => "search"} %>
  <%= btn_separator %>
  <%= menu %>
<% end -%>

<% form_for :expenditure, :url => {:controller => "financial_report", :action => "expenditure_show"} do |f| -%>
  <%= f.text_field :starts_at, :label => "Início" , :class => "datepicker", :value => @filter[:starts_at] %>
  <%= f.text_field :ends_at  , :label => "Término", :class => "datepicker", :value => @filter[:ends_at] %>
<% end -%>

<div class="clear"></div>

<table class="simple-list" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
<%  @ap_pay.each do |pay|
      if pay.level == 1 %>
    <tr>
      <td class="center"><%= pay.code %></td>
      <td><%= pay.name %></td>
      <td class="right"><%=number_to_currency pay.value %></td>
    </tr>
<%    end
    end -%>
  </tbody>
</table>