<% content_for :menu do -%>
  <h1>Editando permissões de <%= @user.name %> </h1>
  <%= mount_menu %w[save show] %>
<% end -%>

<% form_for :permissions, :url => '/permissions/update' do |f| %>
  <div class="form-wrapper">
    <%= f.error_messages %>
    <%= hidden_field :user, :id %>

    <% @controllers.each do |cont, nick| %>
      <%= perm_options(cont, nick, @user) %>
    <% end %>
  </div>
<% end %>

