<% content_for :menu do -%>
  <h1>Recibos da locação <%= @location.number %></h1>
  <h3><%= @location.client.name %></h3>
  <%= mount_menu %w[default separator] %>
  <%= link_to "Voltar à Locação", location_path(session[:location_id]), :class => "button", :icon => "triangle-1-w" %>
<% end -%>

<%= table @location_receipts, ["start"       , "Início" , {:format => "date"}],
                              ["end"         , "Término", {:format => "date"}],
                              ["liquid_value", "Total"  , {:format => "number_to_currency"}]%>
