    <div id="top1" class="group w100">
      <div class="data w25"><img id="logo1" src="/images/logo_p.jpg" alt="logo"></div>
      <h1 id="title1" class="data w75 center">Recibo de locação - Nº <%= @receipt.location_number %></h1>
      <div class="data w75 right">1ª Via</div>
    </div>

    <h3>LOCADOR</h3>
    <div id="enterprise1" class="group w100 border">
      <div class="data w100"><span class="label">Empresa</span><%= @receipt.enterp_name %></div>
      <div class="data w40"><span  class="label">CNPJ</span><%= @receipt.enterp_doc %></div>
      <div class="data w30"><span  class="label">IE</span><%= @receipt.enterp_ie %></div>
      <!-- <div class="data w30"><span  class="label">IM</span></div> -->
      <div class="data w100"><span class="label">Endereço</span><%= @receipt.enterp_address %></div>
    </div>

    <h3>LOCATÁRIO</h3>
    <div id="client1" class="group w100 border">
      <div class="data w100"><span class="label">Empresa</span><%= @receipt.client_name %></div>
      <div class="data w40"><span  class="label">CNPJ/CPF</span><%= @receipt.client_doc %></div>
      <div class="data w30"><span  class="label">IE/RG</span><%= @receipt.client_ie %></div>
      <div class="data w30"><span  class="label">IM</span><%= @receipt.client_im %></div>
      <div class="data w100"><span class="label">Endereço</span><%= @receipt.client_address %></div>
    </div>

    <h3>ITENS</h3>
    <div id="items1" class="group w100">
      <table width="100%" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>Qtd.</th>
            <th>Descrição</th>
            <th>Val. Unit.</th>
            <th>Val. Total</th>
          </tr>
        </thead>
        <tbody>
          <% @receipt.items.each do |item| %>
          <tr>
            <td><%= item.quantity %></td>
            <td><%= item.product %></td>
            <td class="right"><%= number_to_currency(item.unit_value) %></td>
            <td class="right"><%= number_to_currency(item.total_value) %></td>
          </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="4"></th>
          </tr>
        </tfoot>
      </table>
    </div>

    <div id="bank1" class="group w30 border">
      <div class="data w100 center"><span class="title">Dados Bancários</span></div>
      <div class="data w100">&nbsp;</div>
      <div class="data w100"><span class="label">Banco</span><%= @receipt.bank_name %></div>
      <div class="data w100"><span class="label">Agência</span><%= @receipt.bank_ag %></div>
      <div class="data w100"><span class="label">C/C</span><%= @receipt.bank_cc %></div>
    </div>

    <div id="long_value1" class="group w35 border">
      <div class="data w100 center"><span class="title">****** <%= @receipt.liquid_value.to_extenso %> ******</span></div>
    </div>

    <div id="summary1" class="group w30 border">
      <div class="data w100"><span class="label">Período</span><%= @receipt.period %></div>
      <!-- <div class="data w100"><span class="label">Contrato</span></div> -->
      <div class="data w100"><span class="label">Vencimento</span></div>
      <div class="data w100">&nbsp;</div>
      <div class="data w100 bigger"><span class="label">Total</span><%= @receipt.liquid_value.real_formatado %></div>
    </div>

<hr />

    <div id="top2" class="group w100">
      <div class="data w25"><img id="logo2" src="/images/logo_p.jpg" alt="logo"></div>
      <h1 id="title2" class="data w75 center">Recibo de locação - Nº <%= @receipt.location_number %></h1>
      <div class="data w75 right">2ª Via</div>
    </div>

    <h3>LOCADOR</h3>
    <div id="enterprise2" class="group w100 border">
      <div class="data w100"><span class="label">Empresa</span><%= @receipt.enterp_name %></div>
      <div class="data w40"><span  class="label">CNPJ</span><%= @receipt.enterp_doc %></div>
      <div class="data w30"><span  class="label">IE</span><%= @receipt.enterp_ie %></div>
      <!-- <div class="data w30"><span  class="label">IM</span></div> -->
      <div class="data w100"><span class="label">Endereço</span><%= @receipt.enterp_address %></div>
    </div>

    <h3>LOCATÁRIO</h3>
    <div id="client2" class="group w100 border">
      <div class="data w100"><span class="label">Empresa</span><%= @receipt.client_name %></div>
      <div class="data w40"><span  class="label">CNPJ/CPF</span><%= @receipt.client_doc %></div>
      <div class="data w30"><span  class="label">IE/RG</span><%= @receipt.client_ie %></div>
      <div class="data w30"><span  class="label">IM</span><%= @receipt.client_im %></div>
      <div class="data w100"><span class="label">Endereço</span><%= @receipt.client_address %></div>
    </div>

    <h3>ITENS</h3>
    <div id="items2" class="group w100">
      <table width="100%" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>Qtd.</th>
            <th>Descrição</th>
            <th>Val. Unit.</th>
            <th>Val. Total</th>
          </tr>
        </thead>
        <tbody>
          <% @receipt.items.each do |item| %>
          <tr>
            <td><%= item.quantity %></td>
            <td><%= item.product %></td>
            <td class="right"><%= number_to_currency(item.unit_value) %></td>
            <td class="right"><%= number_to_currency(item.total_value) %></td>
          </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="4"></th>
          </tr>
        </tfoot>
      </table>
    </div>

    <div id="bank2" class="group w30 border">
      <div class="data w100 center"><span class="title">Dados Bancários</span></div>
      <div class="data w100">&nbsp;</div>
      <div class="data w100"><span class="label">Banco</span><%= @receipt.bank_name %></div>
      <div class="data w100"><span class="label">Agência</span><%= @receipt.bank_ag %></div>
      <div class="data w100"><span class="label">C/C</span><%= @receipt.bank_cc %></div>
    </div>

    <div id="long_value2" class="group w35 border">
      <div class="data w100 center"><span class="title">****** <%= @receipt.liquid_value.to_extenso %> ******</span></div>
    </div>

    <div id="summary2" class="group w30 border">
      <div class="data w100"><span class="label">Período</span><%= @receipt.period %></div>
      <!-- <div class="data w100"><span class="label">Contrato</span></div> -->
      <div class="data w100"><span class="label">Vencimento</span></div>
      <div class="data w100">&nbsp;</div>
      <div class="data w100 bigger"><span class="label">Total</span><%= @receipt.liquid_value.real_formatado %></div>
    </div>

<% content_for :script do -%>
//<script type="text/javascript">

  setBiggestHeight('#bank1, #long_value1, #summary1');
  setBiggestHeight('#enterprise1 .data');
  setBiggestHeight('#client1 .data');

  setBiggestWidth('#enterprise1 .label');
  setBiggestWidth('#client1 .label');
  setBiggestWidth('#bank1 .label');
  setBiggestWidth('#summary1 .label');

  ajustHorizontal('#top1');
  // ajustHorizontal('#bank1, #long_value1, #summary1');
  ajustHorizontal('#enterprise1');
  ajustHorizontal('#client1');
  ajustHorizontal('#items1');

  setBiggestHeight('#bank2, #long_value2, #summary2');
  setBiggestHeight('#enterprise2 .data');
  setBiggestHeight('#client2 .data');

  setBiggestWidth('#enterprise2 .label');
  setBiggestWidth('#client2 .label');
  setBiggestWidth('#bank2 .label');
  setBiggestWidth('#summary2 .label');

  ajustHorizontal('#top2');
  // ajustHorizontal('#bank2, #long_value2, #summary2');
  ajustHorizontal('#enterprise2');
  ajustHorizontal('#client2');
  ajustHorizontal('#items2');

<% end -%>