<% content_for :menu do -%>
  <h1>Recibo</h1>
  <%= mount_menu %w[default separator] %>
  <%= btn_print @location_receipt.id %>
<% end -%>

<%= print_content "Início"               , date(@location_receipt.start)                     , :width => 20 %>
<%= print_content "Término"              , date(@location_receipt.end)                       , :width => 20 %>
<%= print_content "Valor mensal"         , number_to_currency(@location_receipt.month_value) , :width => 20 %>
<%= print_content "Total"                , number_to_currency(@location_receipt.total_value) , :width => 20 %>
<%= print_content "Total Líquido"        , number_to_currency(@location_receipt.liquid_value), :width => 20 %>
<%= print_content "Desconto"             , number_to_currency(@location_receipt.discount)    , :width => 10 %>
<%= print_content "Observações desconto" , h(@location_receipt.discount_obs)                 , :width => 90 %>
<%= print_content "Acréscimo"            , number_to_currency(@location_receipt.higher)      , :width => 10 %>
<%= print_content "Observações acréscimo", h(@location_receipt.higher_obs)                   , :width => 90 %>
