<h1>NCM's</h1>

<%= mount_menu %>

<input type="hidden" id="controller" value="ncms" />

<table id="list" cellpading="0" cellspacing="0" border="0" width="100%">
  <thead>
    <tr>
      <th>Id</th>
      <th>Código</th>
      <th>Descrição</th>
      <th>Unidade</th>
      <th>IPI</th>
    </tr>
  </thead>

  <tbody>
  <% @ncms.each do |ncm| %>
    <tr>
      <td><%=h ncm.id %></td>
      <td><%=h ncm.code %></td>
      <td><%=h ncm.description %></td>
      <td><%=h ncm.unit %></td>
      <td><%=h ncm.ipi %></td>
    </tr>
  <% end %>
  </tbody>
</table>

