<% content_for :toolbar do %>
  <h1>Novo Ncm</h1>
  <%= link_to 'Voltar', ncms_path, {:class => "back"} %>
<% end %>

<% form_for(@ncm) do |f| %>
  <%= f.error_messages %>

  <ul class="rounded">
    <li><%= f.text_field :code,        {:placeholder => "Código"} %></li>
    <li><%= f.text_field :description, {:placeholder => "Descrição"} %></li>
    <li><%= f.text_field :unit,        {:placeholder => "Unidade"} %></li>
    <li><%= f.text_field :ipi,         {:placeholder => "IPI"} %></li>
    <li><%= f.submit 'Salvar' %></li>
  </ul>
<% end %>

