<h1>Novo NCM</h1>

<% form_for(@ncm) do |f| %>
  <%= f.error_messages %>

  <%= mount_menu %>

  <p>
    <%= f.label :code, "Código: " + f.text_field(:code)%>
  </p>
  <p>
    <%= f.label :description, "Descrição: " + f.text_field(:description)%>
  </p>
  <p>
    <%= f.label :unit, "Unidade: " + f.text_field(:unit)%>
  </p>
  <p>
    <%= f.label :ipi, "IPI: " + f.text_field(:ipi)%>
  </p>
<% end %>

