<% content_for :menu do -%>
  <h1>NCM</h1>
  <%= mount_menu %>
<% end -%>

<%= print_content "Descrição", h(@ncm.description), 50 %>
<%= print_content "Código"   , h(@ncm.code)       , 25 %>
<%= print_content "Unidade"  , h(@ncm.unit)       , 25 %>
<%= print_content "IPI"      , h(@ncm.ipi)        , 25 %>

