<p>
  <b>Code:</b>
  <%=h @ncm.code %>
</p>

<p>
  <b>Description:</b>
  <%=h @ncm.description %>
</p>

<p>
  <b>Unit:</b>
  <%=h @ncm.unit %>
</p>

<p>
  <b>Ipi:</b>
  <%=h @ncm.ipi %>
</p>


<%= link_to 'Edit', edit_ncm_path(@ncm) %> |
<%= link_to 'Back', ncms_path %>