<% content_for :menu do -%>
  <h1>Título a receber</h1>
  <%= mount_menu %>
<% end -%>

<% form_for(@receivable) do |f| %>
  <div class="form-wrapper">
    <%= f.error_messages %>

    <%= f.text_field  :invoice_number   , :label => "Número da NF"      %>
    <%= f.text_field  :parcel           , :label => "Parcela"           %>
    <%= f.date_select :due_date         , :label => "Vencimento"        %>
    <%= f.text_field  :value            , :label => "Valor"             %>
    <%= f.text_field  :bank_id          , :label => "Banco"             %>
    <%= f.text_field  :email            , :label => "E-Mail"            %>
    <%= f.text_field  :deposit_id       , :label => "Depósito"          %>
    <%= f.date_select :payment_date     , :label => "Data de pagamento" %>
    <%= f.text_field  :collection_number, :label => "Número do banco"   %>
    <%= f.text_field  :daily_penalty    , :label => "Mora ao dia"       %>
    <%= f.text_area   :observations     , :label => "Observações"       %>
  </div>
<% end %>

