<% content_for :menu do -%>
  <h1>Título a receber</h1>
  <%= mount_menu %>
<% end -%>

<% form_for(@receivable) do |f| %>
  <div class="form-wrapper">
    <%= f.error_messages %>

    <fieldset>
      <legend>Origem</legend>
      <%= f.hidden_field :client_id %>
      <label class="inputselect w25" for="sales_order_client">
        <span class="wrapper">
          <span class="title">Receber de</span>
          <input type="text" size="30" name="client_name" id="receivable_client_name" class="autocomplete" source="client">
        </span>
      </label>
      <%= f.text_field :historic, :label => "Histórico" %>
      <%= f.text_field :issue_date, :label => "Data de Emissão", :class => 'datepicker' %>
      <%= f.select :document_kind_id, Receivable::DocumentKind.to_select, :label => 'Documento' %>
      <%= f.text_field :invoice_number , :label => "Número da NF" %>
    </fieldset>
    <fieldset>
      <legend>Recebimento</legend>
      <%= f.select :account_id, Account.to_select, :label => 'Conta' %>
      <%= f.select :payment_method_id, Receivable::PaymentMethod.to_select, :label => 'Meio de Pagamento' %>
      <%= f.text_field :due_date, :label => "Vencimento", :class => 'datepicker' %>
      <%= f.select :frequency_id, Receivable::Frequency.to_select, :label => 'Frequencia' %>
      <%= f.text_field :value, :label => "Valor" %>

    </fieldset>
    <fieldset>
      <%= f.select :account_plan_id, AccountPlan.to_select, :label => 'Plano de Contas' %>

    </fieldset>
  </div>
<% end %>

