<% content_for :menu do -%>
  <h1>Título a receber</h1>
  <%= mount_menu %w[default separator] %>
  <%# link_to "Lançar Recebimento", new_receivable_billing_path(@receivable), {:class => "button", :icon => "plus"} %>
  <%= link_to "Baixas"      , receivable_billings_path+"?id=#{@receivable.id}", {:class => "button"        , :icon => "arrowreturnthick-1-s"} %>
  <%= link_to "Baixa rápida", "/receivables/fast_settlement/#{@receivable.id}", {:class => "button confirm", :icon => "arrowreturn-1-s"} unless @receivable.settled %>
  <%= btn_print_receipt @receivable.id if @receivable.location_id %>
<% end -%>

<div class="form-wrapper">
  <div id="tabs">
    <div id="general">
      <h2>Origem</h2>
      <%= print_content 'Receber de'     , h((@receivable.client || {})[:name])                                      , :width => 30 %>
      <%= print_content "Histórico"      , h(@receivable.historic)                                                   , :width => 30 %>
      <%= print_content "Data de Emissão", date(@receivable.issue_date)                                              , :width => 10 %>
      <%= print_content 'Documento'      , (Receivable::DocumentKind.find(@receivable.document_kind_id) || {})[:kind], :width => 10 %>
      <%= print_content "Número da NF"   , h(@receivable.invoice_number)                                             , :width => 10 %>
      <%= print_content "Quitado"        , human_boolean(@receivable.settled)                                        , :width => 10 %>

      <h2>Recebimento</h2>
      <%= print_content 'Conta'            , h(@receivable.bank_account)                                                 , :width => 20 %>
      <%= print_content 'Meio de Pagamento', (Receivable::PaymentMethod.find(@receivable.payment_method_id) || {})[:name], :width => 20 %>
      <%= print_content "Vencimento"       , date(@receivable.due_date)                                                  , :width => 20 %>
      <%= print_content 'Frequencia'       , (Receivable::Frequency.find(@receivable.frequency_id) || {})[:name]         , :width => 20 %>
      <%= print_content "Valor"            , number_to_currency(@receivable.value)                                       , :width => 20 %>

      <h2>Informações Adicionais</h2>
      <div id="aditional-informations">
        <%= print_content 'Competência'             , date(@receivable.competence) %>
        <%= print_content 'Num. Doc. Série'         , h(@receivable.serie_number) %>
        <%= print_content 'Portador'                , h(@receivable.carrier) %>
        <%= print_content 'Código de Barras do Doc.', h(@receivable.barcode) %>
        <%= print_content 'Lançar'                  , (Receivable::RateType.find(@receivable.rate_type_id) || {})[:name] %>
        <%= print_content 'Multa'                   , h(@receivable.fine) %>
        <%= print_content 'Juros'                   , h(@receivable.rate) %>
        <%= print_content 'Calcular'                , (Receivable::RateCalculationType.find(@receivable.rate_calculation_type_id)||{})[:name] %>
        <%= print_content 'Observações'             , h(@receivable.observations), :width => 100 %>
      </div>
      <div class="clear"></div>

      <div style="float:left;width:50%">
        <div style="padding:10px 5px 0 0;">
          <h2>Baixados</h2>
          <table id="receivable_bllings" idx="3" cellpading="0" cellspacing="0" border="0" width="100%">
            <thead>
              <tr>
                <th>Vencimento</th>
                <th>Parcela</th>
                <th>Recebido em</th>
                <th>Valor</th>
              </tr>
            </thead>
            <tbody>
              <% @receivable.billings.each do |rec| %>
                <tr>
                  <td class="center"><%= date(rec.expire_at) %></td>
                  <td><%= rec.parcel %></td>
                  <td class="center"><%= date(rec.received_at) %></td>
                  <td class="right"><%= number_to_currency(rec.value) %></td>
                </tr>
              <% end %>
            </tbody>
            <tfoot>
              <tr>
                <th colspan="3" style="text-align: right">Total: </th>
                <th class="sum right"> </th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <div style="float:left;width:50%">
        <div style="padding:10px 0 0 5px;">
          <h2>Divisão/Rateio de Valor</h2>
          <table id="receivable_division_order_items" cellpading="0" cellspacing="0" border="0" width="100%" class="list" >
            <thead>
              <tr>
                <th>Plano de Conta</th>
                <th>Centro de Custos</th>
                <th>Valor</th>
                <th>%</th>
              </tr>
            </thead>
            <tbody>
              <% @receivable.receivable_cost_divisions.each do |div| %>
                <tr>
                  <td><%= (div.account_plan || {})[:name] %></td>
                  <td><%= (div.cost_center || {})[:name] %></td>
                  <td class="right"><%= number_to_currency(div.value) %></td>
                  <td class="right"><%= div.value.to_f / @receivable.value.to_f * 100 %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>

<% content_for :script do -%>
//<script type="text/javascript">

    var conf = {"fnFooterCallback": function ( nRow, aaData, iStart, iEnd, aiDisplay ) {
      var iTotal = 0;
      var idxSum = $(this).attr('idx');
      for ( var i=iStart ; i<iEnd ; i++ )
      {
        iVal = aaData[aiDisplay[i]][idxSum].replace('R$ ', '').replace(/\./gi, '').replace(',', '.')*1;
        iTotal += iVal;
      }
      $('.sum', this).text('R$ '+ toCurrency(iTotal.toFixed(2)));
    }};

    var newConf = $.extend({}, dTableConfig, conf);

    $('#receivable_bllings').dataTable(newConf);

<% end -%>