<% content_for :menu do -%>
  <h1>Título a receber</h1>
  <%= mount_menu %>
<% end -%>

<div class="form-wrapper">
  <div id="tabs">
    <ul>
      <li><a href="#general">Geral</a></li>
      <li><a href="#aditional-informations">Informações Adicionais</a></li>
    </ul>
    <div id="general">
      <fieldset>
        <legend>Origem</legend>
        <%= print_content 'Receber de', h((@receivable.client || {})[:name]) %>
        <%= print_content "Histórico", h(@receivable.historic) %>
        <%= print_content "Data de Emissão", h(@receivable.issue_date) %>
        <%= print_content 'Documento', (Receivable::DocumentKind.find(@receivable.document_kind_id) || {})[:kind] %>
        <%= print_content "Número da NF", h(@receivable.invoice_number) %>
      </fieldset>
      <fieldset>
        <legend>Recebimento</legend>
        <%= print_content 'Conta', (@receivable.account || {})[:name] %>
        <%= print_content 'Meio de Pagamento', (Receivable::PaymentMethod.find(@receivable.payment_method_id) || {})[:name] %>
        <%= print_content "Vencimento", h(@receivable.due_date) %>
        <%= print_content 'Frequencia', (Receivable::Frequency.find(@receivable.frequency_id) || {})[:name]  %>
        <%= print_content "Valor", h(@receivable.value) %>

      </fieldset>
      <div id="division_parts">
        <table id="receivable_division_order_items" cellpading="0" cellspacing="0" border="0" width="100%">
          <thead>
            <tr>
              <th>Id</th>
              <th>Id do Plano</th>
              <th style="width:">Plano de Conta</th>
              <th>Id do Centro</th>
              <th style="">Centro de Custos</th>
              <th style="">Observação</th>
              <th style="">Valor</th>
            </tr>
          </thead>
          <tbody>
            <% @receivable.receivable_cost_divisions.each do |div| %>
              <tr>
                <td><%= div.id %></td>
                <td><%= div.account_plan_id %></td>
                <td style="width:"><%= (div.account_plan || {})[:name] %></td>
                <td><%= div.cost_center_id %></td>
                <td style=""><%= (div.cost_center || {})[:name] %></td>
                <td style=""><%= div.observations %></td>
                <td style=""><%= div.value %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div id="aditional-informations">
      <%= print_content 'Competência', @receivable.competence %>
      <%= print_content 'Num. Doc. Série', @receivable.serie_number %>
      <%= print_content 'Portador', @receivable.carrier %>
      <%= print_content 'Código de Barras do Doc.', @receivable.barcode %>
      <%= print_content 'Lançar', (Receivable::RateType.find(@receivable.rate_type_id) || {})[:name] %>
      <%= print_content 'Multa', @receivable.fine %>
      <%= print_content 'Juros', @receivable.rate %>
      <%= print_content 'Calcular', (Receivable::RateCalculationType.find(@receivable.rate_calculation_type_id)||{})[:name] %>
      <%= print_content 'Observações', @receivable.observations %>
    </div>
  </div>
</div>

