<% content_for :menu do -%>
  <h1>Editando Carro (<%= @carrier.nickname %>)</h1>
  <%= mount_menu %>
<% end -%>

<% form_for(@car) do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :carrier_id         , :label => "Transportadora" %>
  <%= f.select       :estate_id, @estates, :label => "Estado" %>
  <%= f.text_field   :brand              , :label => "Marca" %>
  <%= f.text_field   :license_plate      , :label => "Placa" %>
<% end %>
