<% content_for :menu do -%>
  <h1>Novo produto</h1>
  <%= mount_menu %>
<% end -%>

<% form_for(@product) do |f| %>
  <%= f.error_messages %>

  <%= f.text_field :code                             , :label => "Código"           , :size => 10, :class => "mask-code"  %>
  <%= f.text_field :name                             , :label => "Descrição"        , :size => 40                         %>
  <%= f.text_field :kind                             , :label => "Espécie"          , :size => 40                         %>
  <%# f.text_field :unity                            , :label => "Unidade"          , :size => 20                         %>
  <%= f.text_field :net_weight                       , :label => "Peso líquido(Kg)" , :size => 10, :class => 'mask-decimal', :decimal => "10,4" %>
  <%= f.text_field :gross_weight                     , :label => "Peso bruto (Kg)"  , :size => 10, :class => 'mask-decimal', :decimal => "10,4" %>

  <%= f.text_field :ipi                              , :label => "IPI"              , :size => 10, :class => "mask-decimal", :decimal => "10,4" %>
  <%= f.text_field :fiscal_code                      , :label => "Código Fiscal"    , :size => 10                                               %>
  <%= f.text_field :tributary_code                   , :label => "Código Tributário", :size => 10                                               %>
  <%= f.text_field :ncm                              , :label => "NCM"              , :size => 10                                               %>
  <%= f.text_field :price                            , :label => "Preço"            , :size => 10, :class => "mask-decimal"                     %>
  <%= f.text_field :cost                             , :label => "Custo"            , :size => 10, :class => "mask-decimal"                     %>
  <%= f.text_field :liquid_price                     , :label => "Preço Líquido"    , :size => 10, :class => "mask-decimal"                     %>
  <%= f.select     :family_id     , @product_families, :label => "Família"          , :size => 10                                               %>
  <%= f.select     :type_id       , @product_kinds   , :label => "Tipo"             , :size => 10                                               %>

  <% field_set_tag 'Dimensões' do %>
    <%= f.text_field :width , :label => "Largura (metro)"     , :size => 10, :class => "mask-decimal", :decimal => "10,2" %>
    <%= f.text_field :depth , :label => "Profundidade (metro)", :size => 10, :class => "mask-decimal", :decimal => "10,2" %>
    <%= f.text_field :height, :label => "Altura (metro)"      , :size => 10, :class => "mask-decimal", :decimal => "10,2" %>
  <% end %>

  <%# field_set_tag 'Impostos' do -%>
    <%#= f.select     :cst_ipi_id    , @cst_ipi       , :label => "CST IPI"          , :size => 20                                               %>
    <%#= f.select     :cst_pis_id    , @cst_pis       , :label => "CST PIS"          , :size => 20                                               %>
    <%#= f.text_field :pis                            , :label => "PIS"              , :size => 10, :class => "mask-decimal", :decimal => "10,4" %>
    <%#= f.select     :cst_cofins_id , @cst_cofins    , :label => "CST COFINS"       , :size => 20                                               %>
    <%#= f.text_field :cofins                         , :label => "COFINS"           , :size => 10, :class => "mask-decimal", :decimal => "10,4" %>
    <%#= f.select     :cst_icm_id    , @cst_icm       , :label => "CST ICM"          , :size => 20                                               %>
  <%# end -%>

<% end %>

