<% content_for :menu do -%>
  <h1>Produto</h1>
  <%= mount_menu %w[default separator measureunits stocks upload] %>
<% end -%>

<%= print_content "Código"           , h(@product.code)                  , :width => 10 %>
<%= print_content "Nome"             , h(@product.name)                  , :width => 40 %>
<%= print_content "Espécie"          , h(@product.kind)                  , :width => 30 %>
<%= print_content "Unidade"          , h(@product.unity)                 , :width => 10 %>
<%= print_content "Peso líquido (Kg)", h(@product.net_weight)            , :width => 10 %>
<%= print_content "Peso bruto (Kg)"  , h(@product.gross_weight)          , :width => 10 %>

<%= print_content "IPI"              , h(@product.ipi)                   , :width => 10 %>
<%= print_content "Código Fiscal"    , h(@product.fiscal_code)           , :width => 10 %>
<%= print_content "Código Tributário", h(@product.tributary_code)        , :width => 10 %>
<%= print_content "NCM"              , h(@product.ncm)                   , :width => 10 %>
<%= print_content "Preço"            , h(@product.price)                 , :width => 10 %>
<%= print_content "Custo"            , h(@product.cost)                  , :width => 10 %>
<%= print_content "Preço líquido"    , h(@product.liquid_price)          , :width => 10 %>
<%= print_content "Família"          , h(@product.family.name)           , :width => 10 %>
<%= print_content "Tipo"             , h(@product.kind.name)             , :width => 10 %>

<h2>Impostos</h2>
<%= print_content "CST IPI"          , (h(@product.cst_ipi.code)    if @product.cst_ipi)   , :width => 20 %>
<%= print_content "CST PIS"          , (h(@product.cst_pis.code)    if @product.cst_pis)   , :width => 20 %>
<%= print_content "PIS"              ,  h(@product.pis)                                    , :width => 10 %>
<%= print_content "CST COFINS"       , (h(@product.cst_cofins.code) if @product.cst_cofins), :width => 20 %>
<%= print_content "COFINS"           ,  h(@product.cofins)                                 , :width => 10 %>
<%= print_content "CST ICM"          , (h(@product.cst_icm.code)    if @product.cst_icm)   , :width => 20 %>

<div class="clear"></div>

<%= render :partial => "attachments/attachments_table" %>

