<% content_for :menu do -%>
  <h1>Produto</h1>
  <%= mount_menu %>
<% end -%>

<%= print_content "Código"           , h(@product.code)           %>
<%= print_content "Nome"             , h(@product.name)           %>
<%= print_content "Espécie"          , h(@product.kind)           %>
<%= print_content "Unidade"          , h(@product.unity)          %>
<%= print_content "Peso (Kg's)"      , h(@product.weight)         %>
<%= print_content "IPI"              , h(@product.ipi)            %>
<%= print_content "Código Fiscal"    , h(@product.fiscal_code)    %>
<%= print_content "Código Tributário", h(@product.tributary_code) %>
<%= print_content "NCM"              , h(@product.ncm)            %>
<%= print_content "Preço"            , h(@product.price)          %>
<%= print_content "Custo"            , h(@product.cost)           %>
<%= print_content "Preço líquido"    , h(@product.liquid_price)   %>
<%= print_content "Família"          , h(@product.family_id)      %>
<%= print_content "Tipo"             , h(@product.type_id)        %>
<%= print_content "CST ICM"          , h(@product.csticm_id)      %>
<%= print_content "CST IPI"          , h(@product.cstipi_id)      %>
<%= print_content "CST PIS"          , h(@product.cstpis_id)      %>
<%= print_content "PIS"              , h(@product.pis)            %>
<%= print_content "CST COFINS"       , h(@product.cstcofins_id)   %>
<%= print_content "COFINS"           , h(@product.cofins)         %>

