<% content_for :menu do -%>
  <h1>Editando pedido de vendas</h1>
  <%= mount_menu %>
<% end -%>

<% form_for(@sales_order) do |f| %>
  <div class="form-wrapper">
    <%= f.error_messages %>

    <%= f.text_area    :observation         , :label => "Observações"           %>
    <%= f.text_field   :number              , :label => "Número"                %>
    <%= f.text_field   :order_type_id       , :label => "Tipo de pedido"        %>
    <%= f.text_field   :sale_type_id        , :label => "Tipo de venda"         %>
    <%= f.text_field   :date                , :label => "Data do pedido"        , :class => 'datepicker' %>
    <%= f.text_field   :prevision           , :label => "Previsão de entrega"   , :class => 'datepicker' %>
    <%= f.text_field   :billed              , :label => "Faturado"              , :class => 'datepicker' %>
    <%= f.hidden_field :client_id %>
    <label class="inputselect w25" for="sales_order_client">
      <span class="wrapper">
        <span class="title">Cliente</span>
        <input type="text" size="30" name="client_name" id="sales_order_client_name" class="autocomplete" source="client" value="<%= @sales_order.client.name %>">
      </span>
    </label>
    <%= f.text_field   :seller_id           , :label => "Vendedor"              %>
    <%= f.text_field   :commission          , :label => "Comissão"              %>
    <%= f.text_field   :contact_id          , :label => "Contato"               %>
    <%= f.text_field   :payment_condition_id, :label => "Condição de pagamento" %>
    <%= f.text_field   :carrier_id          , :label => "Transportadora"        %>
    <%= f.text_field   :freight             , :label => "Frete"                 %>
    <%= f.text_field   :freight_type_id     , :label => "Tipo de frete"         %>
    <%= f.text_field   :attendant_id        , :label => "Atendente"             %>

    <% field_set_tag 'Itens' do -%>
      <%= new_sales_item_toolbar f %>
      <% f.fields_for :order_items, @item_form do |soi| %>
        <%= render :partial => "sales_order_item_fields", :locals => {:f => soi} %>
      <% end -%>

      <table id="sales_order_items" cellpading="0" cellspacing="0" border="0" width="100%">
        <thead>
          <tr>
            <th>Id do item     </th>
            <th>Id Produto     </th>
            <th>Produto        </th>
            <th>Quantidade     </th>
            <th>Valor Unitário </th>
            <th>Valor Total    </th>
            <th>Data de entrega</th>
          </tr>
        </thead>
        <tbody>
        <% f.fields_for :order_items do |soi| %>
          <tr>
            <td><%= soi.hidden_field :id           %><span></span></td>
            <td><%= soi.hidden_field :product_id   %><span></span></td>
            <td><%= soi.hidden_field :product_name %><span></span></td>
            <td><%= soi.hidden_field :quantity     %><span></span></td>
            <td><%= soi.hidden_field :unit_value   %><span></span></td>
            <td><%= soi.hidden_field :total_value  %><span></span></td>
            <td><%= soi.hidden_field :delivery     %><span></span></td>
          </tr>
        <% end -%>
        </tbody>
      </table>
    <% end -%>
  </div>
  <div id="trash" class="hide"></div>
<% end %>

