<% content_for :menu do -%>
  <h1>Editando pedido de vendas</h1>
  <%= mount_menu %>
<% end -%>

<% form_for(@sales_order) do |f| %>
  <div class="form-wrapper">
    <%= f.error_messages %>

    <%= f.text_field   :number                            , :label => "Número"               , :size => 10 %>
    <%= f.select       :order_type_id       , @order_types, :label => "Tipo de pedido"       , :size => 20 %>
    <%= f.select       :sale_type_id        , @sell_types , :label => "Tipo de venda"        , :size => 20 %>
    <%= f.text_field   :date                              , :label => "Data do pedido"       , :size => 10, :class => 'datepicker' %>
    <%= f.text_field   :prevision                         , :label => "Previsão de entrega"  , :size => 10, :class => 'datepicker' %>
    <%= f.text_field   :billed                            , :label => "Faturado"             , :size => 10, :class => 'datepicker' %>
    <%= f.check_box    :closed                            , :label => 'Fechado'              , :size => 10 %>
    <%= f.hidden_field :client_id %>
    <%= f.text_field   :client_name                       , :label => "Cliente"              , :size => 20, :class => 'autocomplete', :source => 'client', :pref => "sales_order_" %>
    <%= f.text_field   :seller_id                         , :label => "Vendedor"             , :size => 20 %>
    <%= f.text_field   :commission                        , :label => "Comissão"             , :size => 10 %>
    <%= f.text_field   :contact_id                        , :label => "Contato"              , :size => 20 %>
    <%= f.text_field   :payment_condition_id              , :label => "Condição de pagamento", :size => 20 %>
    <%= f.text_field   :carrier_id                        , :label => "Transportadora"       , :size => 20 %>
    <%= f.text_field   :freight                           , :label => "Frete"                , :size => 20 %>
    <%= f.text_field   :freight_type_id                   , :label => "Tipo de frete"        , :size => 20 %>
    <%= f.text_field   :attendant_id                      , :label => "Atendente"            , :size => 20 %>
    <%= f.text_area    :observation                       , :label => "Observações"          , :size => 100 %>

    <% field_set_tag 'Itens' do -%>
      <%= new_sales_item_toolbar f %>
      <% f.fields_for :order_items, @item_form do |soi| %>
        <%= render :partial => "sales_order_item_fields", :locals => {:f => soi} %>
      <% end -%>

      <table id="sales_order_items" cellpading="0" cellspacing="0" border="0" width="100%">
        <thead>
          <tr>
            <th>Id do item       </th>
            <th>Id Produto       </th>
            <th>Produto          </th>
            <th>Quantidade       </th>
            <th>Unidade de Medida</th>
            <th>Valor Unitário   </th>
            <th>Valor Total      </th>
            <th>Data de entrega  </th>
          </tr>
        </thead>
        <tbody>
        <% f.fields_for :order_items, @grid do |soi| %>
          <tr>
            <td><%= soi.hidden_field :id              %><span></span></td>
            <td><%= soi.hidden_field :product_id      %><span></span></td>
            <td><%= soi.hidden_field :product_name    %><span></span></td>
            <td><%= soi.hidden_field :quantity        %><span></span></td>
            <td><%= soi.hidden_field :measure_unit_id %><span></span></td>
            <td><%= soi.hidden_field :unit_value      %><span></span></td>
            <td><%= soi.hidden_field :total_value     %><span></span></td>
            <td><%= soi.hidden_field :delivery        %><span></span></td>
          </tr>
        <% end -%>
        </tbody>
      </table>
    <% end -%>
  </div>
  <div id="trash" class="hide"></div>
<% end %>

