<% content_for :head do -%>
  <%= javascript_include_tag 'jquery/jquery-1.4.2.min.js', 'jquery/jquery-ui-1.8.12.custom.min.js' %>
<% end -%>

<% form_for @sales_order, :url => "/sales_orders/save_production/#{@sales_order.id}" do |f| %>

  <table id="permissions">
    <thead class="ui-widget-header">
      <tr>
        <th width="40%">Produto</th>
        <th width="15%">Qtd. Solicitada</th>
        <th width="10%">unidade de medida</th>
        <th width="25%">Qtd. Produzida</th>
        <th width="10%">Pendência</th>
      </tr>
    </thead>
    <tbody>
      <% f.fields_for :order_items do |soi| %>
      <tr>
        <td><%= soi.object.product.name %></td>
        <td class="right"><%= soi.object.quantity %></td>
        <td><%= soi.object.measure_unit %></td>
        <td><%= soi.text_field :quantity_produced, :label => "", :size => 100 %></td>
        <td><%= soi.check_box :pend, :label => "" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

<% end %>


<% content_for :script do -%>
//<script type="text/javascript">
  //Marca ou desmarca checkbox de pendência se a quantidade produzida foi menor do que a solicitada
  $('input[type=text]').keyup(function(){
    var t   = $(this);
    var ttd = t.parent().parent().parent();
    var qtd = ttd.prev().prev().html()*1; //ordererd Quantity
    var chk = $('input', ttd.next());

    if (!chk.hasClass('clicked')) {
      t.val()*1 < qtd ? chk.attr('checked', 'checked') : chk.attr('checked', '');
    } else {
      if (t.val()*1 > qtd) { chk.attr('checked', ''); }
    }

  });

  //desativa o cálculo do Checkbox de pendência se ele receber um click
  $('input[type=checkbox]').click(function(){
    var t      = $(this);
    var ttd    = t.parent().parent().parent();
    var qtdOrd = ttd.prev().prev().prev().html()*1; //ordererd Quantity
    var qtdPro = $('input', ttd.prev()).val()*1;

    $(this).addClass('clicked');

    if (qtdPro >= qtdOrd) { t.attr('checked', ''); }
  });
//</script>
<% end -%>