<% content_for :menu do -%>
  <h1>Pedido de venda</h1>
  <%= mount_menu %>
<% end -%>

<%= print_content "Número"               , h(@sales_order.number)               %>
<%= print_content "Tipo de pedido"       , h(@sales_order.order_type_id)        %>
<%= print_content "Tipo de venda"        , h(@sales_order.sale_type_id)         %>
<%= print_content "Data"                 , h(@sales_order.date)                 %>
<%= print_content "Previsão"             , h(@sales_order.prevision)            %>
<%= print_content "Faturado"             , h(@sales_order.billed)               %>
<%= print_content "Cliente"              , h(@sales_order.client.name)          %>
<%= print_content "Vendedor"             , h(@sales_order.seller_id)            %>
<%= print_content "Comissão"             , h(@sales_order.commission)           %>
<%= print_content "Contato"              , h(@sales_order.contact_id)           %>
<%= print_content "Condição de pagamento", h(@sales_order.payment_condition_id) %>
<%= print_content "Transportadora"       , h(@sales_order.carrier_id)           %>
<%= print_content "Frete"                , h(@sales_order.freight)              %>
<%= print_content "Tipo de frete"        , h(@sales_order.freight_type_id)      %>
<%= print_content "Atendente"            , h(@sales_order.attendant_id)         %>
<%= print_content "Observações"          , h(@sales_order.observation)          %>

<div class="clear"></div>

<h2>Items</h2>
<table id="sales_order_items" cellpading="0" cellspacing="0" border="0" width="100%">
  <thead>
    <tr>
      <th>Produto        </th>
      <th>Quantidade     </th>
      <th>Valor Unitário </th>
      <th>Valor Total    </th>
      <th>Data de entrega</th>
    </tr>
  </thead>
  <tbody>
  <% @items.each do |soi| %>
    <tr>
      <td><%= soi.product_name %></td>
      <td><%= soi.quantity     %></td>
      <td><%= soi.unit_value   %></td>
      <td><%= soi.total_value  %></td>
      <td><%= soi.delivery     %></td>
    </tr>
  <% end -%>
  </tbody>
</table>

<script type="text/javascript">
  var oTable = $('#sales_order_items').dataTable({
                   "bJQueryUI": true
                 , "sPaginationType": "full_numbers"
                 , "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Tudo"]]
                 , "oLanguage": { "sUrl": "/javascripts/dataTable/pt_BR.txt" }
                 , "bRetrieve": true
               });
</script>

