<% content_for :menu do -%>
  <h1>Pedido de venda</h1>
  <%= mount_menu %>
  <%= mount_menu "separator" %>
  <%= btn_production(@sales_order.id.to_s) unless @sales_order.closed %>
  <%= btn_reverse(@sales_order.id.to_s)        if @sales_order.closed %>
  <%= link_to 'Refresh', @sales_order, :class => 'hide', :id => "refresh" %>
<% end -%>

<%= print_content "Número"               , h(@sales_order.number)                                        , :width => 10  %>
<%= print_content "Tipo de pedido"       , h(@sales_order.order_type_id)                                 , :width => 20  %>
<%= print_content "Tipo de venda"        , h(@sales_order.sale_type_id)                                  , :width => 20  %>
<%= print_content "Data"                 , date(@sales_order.date)                                       , :width => 10  %>
<%= print_content "Previsão"             , date(@sales_order.prevision)                                  , :width => 10  %>
<%= print_content "Faturado"             , date(@sales_order.billed)                                     , :width => 10  %>
<%= print_content "Fechado"              , human_boolean(@sales_order.closed)                            , :width => 10  %>
<%= print_content "Cliente"              , h(@sales_order.client.name)                                   , :width => 20  %>
<%= print_content "Vendedor"             , h(@sales_order.seller_id)                                     , :width => 20  %>
<%= print_content "Comissão"             , h(@sales_order.commission)                                    , :width => 10  %>
<%= print_content "Contato"              , h(@sales_order.contact_id)                                    , :width => 20  %>
<%= print_content "Condição de pagamento", h(@sales_order.payment_form.name)                             , :width => 20  %>
<%= print_content "Transportadora"       , h((@sales_order.car_id ? @sales_order.car.license_plate : '')), :width => 20  %>
<%= print_content "Frete"                , h(@sales_order.freight)                                       , :width => 20  %>
<%= print_content "Tipo de frete"        , h(@sales_order.freight_type_id)                               , :width => 20  %>
<%= print_content "Atendente"            , h(@sales_order.attendant_id)                                  , :width => 20  %>
<%= print_content "Observações"          , h(@sales_order.observation)                                   , :width => 100 %>

<div class="clear"></div>

<h2>Items</h2>

<%= table @items, ['product_name'     , 'Produto'             ],
                  ['quantity'         , 'Quantidade'          , {:class => "right"}],
                  ['quantity_produced', 'Quantidade Produzida', {:class => "right"}],
                  ['unit_value'       , 'Valor Unitário'      , {:class => "right"}],
                  ['total_value'      , 'Valor Total'         , {:class => "right"}],
                  ['delivery'         , 'Data de entrega'     , {:class => "center", :format => "date"}] %>


<% content_for :script do -%>
//<script type="text/javascript">
  $('#btn_production').click(function(){
    var t = $(this);
    var url = t.attr('href');
    showModal({
      url: url,
      width: 700,
      height: 400,
      title: 'Preencha as quantidade do que foi produzido.',
      buttons: [{
        text:'Salvar',
        click: function(){
          $('#waiting', frames[ifm].document).fadeTo('normal', 0.7);
          $('form'    , frames[ifm].document).submit();
        }
      }]
    });
    return false;
  });
//</script>
<% end -%>

