<% content_for :menu do -%>
  <h1>Pedido de venda</h1>
  <%= mount_menu %>
  <%= mount_menu "separator" %>
  <%= btn_production(@sales_order.id.to_s) unless @sales_order.closed %>
  <%= btn_reverse(@sales_order.id.to_s)        if @sales_order.closed %>
  <%= link_to 'Refresh', @sales_order, :class => 'hide', :id => "refresh" %>
<% end -%>

<%= print_content "Número"               , h(@sales_order.number)                                        , :width => 10  %>
<%= print_content "Tipo de pedido"       , h(@sales_order.order_type_id)                                 , :width => 20  %>
<%= print_content "Tipo de venda"        , h(@sales_order.sale_type_id)                                  , :width => 20  %>
<%= print_content "Data"                 , date(@sales_order.date)                                       , :width => 10  %>
<%= print_content "Previsão"             , date(@sales_order.prevision)                                  , :width => 10  %>
<%= print_content "Faturado"             , date(@sales_order.billed)                                     , :width => 10  %>
<%= print_content "Fechado"              , human_boolean(@sales_order.closed)                            , :width => 10  %>
<%= print_content "Cliente"              , h(@sales_order.client.name)                                   , :width => 20  %>
<%= print_content "Vendedor"             , h(@sales_order.seller_id)                                     , :width => 20  %>
<%= print_content "Comissão"             , h(@sales_order.commission)                                    , :width => 10  %>
<%= print_content "Contato"              , h(@sales_order.contact_id)                                    , :width => 20  %>
<%= print_content "Condição de pagamento", h(@sales_order.payment_form.name)                             , :width => 20  %>
<%= print_content "Transportadora"       , h((@sales_order.car_id ? @sales_order.car.license_plate : '')), :width => 20  %>
<%= print_content "Frete"                , h(@sales_order.freight)                                       , :width => 20  %>
<%= print_content "Tipo de frete"        , h(@sales_order.freight_type_id)                               , :width => 20  %>
<%= print_content "Atendente"            , h(@sales_order.attendant_id)                                  , :width => 20  %>
<%= print_content "Observações"          , h(@sales_order.observation)                                   , :width => 100 %>

<div class="clear"></div>

<h2>Items</h2>

<table class="personal_list" cellpading="0" cellspacing="0" border="0" width="100%">
  <thead>
    <tr>
      <th               >Produto</th>
      <th class="right" >Quantidade</th>
      <th class="right" >Quantidade produzida</th>
      <th class="right" >Valor Unitário</th>
      <th class="right" >Valor Total</th>
      <th class="center">Data de entrega</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td               ><%= item.product_name %></td>
      <td class="right" ><%= item.quantity %></td>
      <td class="right" ><%= item.quantity_produced %></td>
      <td class="right" ><%= number_to_currency(item.unit_value) %></td>
      <td class="right" ><%= number_to_currency(item.total_value) %></td>
      <td class="center"><%= date(item.delivery) %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="4"> </th>
      <th class="right sum"></th>
      <th> </th>
    </tr>
  </tfoot>
</table>


<% content_for :script do -%>
//<script type="text/javascript">
  $('#btn_production').click(function(){
    var t = $(this);
    var url = t.attr('href');
    showModal({
      url: url,
      width: 700,
      height: 400,
      title: 'Preencha as quantidade do que foi produzido.',
      buttons: [{
        text:'Salvar',
        click: function(){
          $('#waiting', frames[ifm].document).fadeTo('normal', 0.7);
          $('form'    , frames[ifm].document).submit();
        }
      }]
    });
    return false;
  });


  var conf = {"fnFooterCallback": function ( nRow, aaData, iStart, iEnd, aiDisplay ) {
    var iTotal = 0;
    //Soma das NF's visíveis
    for ( var i=iStart ; i<iEnd ; i++ )
    {
      iVal = aaData[aiDisplay[i]][4].replace('R$ ', '').replace(/\./gi, '').replace(',', '.')*1;
      iTotal += iVal;
    }
    $('.sum', this).text('R$ '+ toCurrency(iTotal.toFixed(2)));
  }};

  var newConf = $.extend({}, dTableConfig, conf);

  $('table.personal_list').dataTable(newConf);

//</script>
<% end -%>

