<% content_for :menu do -%>
  <h1>Pedido de venda</h1>
  <%= mount_menu %>
  <%= mount_menu "separator" if @sales_order.closed %>
  <%= btn_reverse(@sales_order.id.to_s) if @sales_order.closed %>
<% end -%>

<%= print_content "Número"               , h(@sales_order.number)              , :width => 10  %>
<%= print_content "Tipo de pedido"       , h(@sales_order.order_type_id)       , :width => 20  %>
<%= print_content "Tipo de venda"        , h(@sales_order.sale_type_id)        , :width => 20  %>
<%= print_content "Data"                 , date(@sales_order.date)             , :width => 10  %>
<%= print_content "Previsão"             , date(@sales_order.prevision)        , :width => 10  %>
<%= print_content "Faturado"             , date(@sales_order.billed)           , :width => 10  %>
<%= print_content "Fechado"              , human_boolean(@sales_order.closed)  , :width => 10  %>
<%= print_content "Cliente"              , h(@sales_order.client.name)         , :width => 20  %>
<%= print_content "Vendedor"             , h(@sales_order.seller_id)           , :width => 20  %>
<%= print_content "Comissão"             , h(@sales_order.commission)          , :width => 10  %>
<%= print_content "Contato"              , h(@sales_order.contact_id)          , :width => 20  %>
<%= print_content "Condição de pagamento", h(@sales_order.payment_form.name)   , :width => 20  %>
<%= print_content "Transportadora"       , h(@sales_order.carrier.name)        , :width => 20  %>
<%= print_content "Frete"                , h(@sales_order.freight)             , :width => 20  %>
<%= print_content "Tipo de frete"        , h(@sales_order.freight_type_id)     , :width => 20  %>
<%= print_content "Atendente"            , h(@sales_order.attendant_id)        , :width => 20  %>
<%= print_content "Observações"          , h(@sales_order.observation)         , :width => 100 %>

<div class="clear"></div>

<h2>Items</h2>
<table id="sales_order_items" cellpading="0" cellspacing="0" border="0" width="100%">
  <thead>
    <tr>
      <th>Produto        </th>
      <th>Quantidade     </th>
      <th>Valor Unitário </th>
      <th>Valor Total    </th>
      <th>Data de entrega</th>
    </tr>
  </thead>
  <tbody>
  <% @items.each do |soi| %>
    <tr>
      <td><%= soi.product_name   %></td>
      <td class="right" ><%= soi.quantity       %></td>
      <td class="right" ><%= soi.unit_value     %></td>
      <td class="right" ><%= soi.total_value    %></td>
      <td class="center"><%= date(soi.delivery) %></td>
    </tr>
  <% end -%>
  </tbody>
</table>

<script type="text/javascript">
  var oTable = $('#sales_order_items').dataTable(dTableConfig);
</script>

