<label class="hide"><%= f.hidden_field :id %></label>
<label class="hide"><%= f.hidden_field :product_id %></label>
<%= f.text_field   :product_name   , :label => "Produto"           , :size => 20, :class => "autocomplete", :source => "product_location", :callback => "calcTotal()", :pref => "location_location_items_attributes_0_" %>
<%= f.text_field   :quantity       , :label => "Quantidade"        , :size => 20, :value => "1" %>
<%= f.text_field   :unit_value     , :label => "Valor unitário"    , :size => 20, :class => "mask-decimal", :decimal => "10,2" %>
<%= f.text_field   :total_value    , :label => "Valor total"       , :size => 10, :class => "mask-decimal", :decimal => "10,2", :disabled => "deisabled" %>

<div class="clear"></div>
<script type="text/javascript">
  var prefix = '#location_location_items_attributes_0_';
  var flds   =      prefix+'quantity';
  flds      += ', '+prefix+'unit_value';

  $(prefix+"product_id, "+flds).bind('blur', function(){calcTotal();});

  var calcTotal = function(){
    var x = $(prefix+'quantity'  ).val();
    var y = $(prefix+'unit_value').val();

    x = format.decimal.toNumber(x); //.replace(',', '.');
    y = format.decimal.toNumber(y);

    var z = format.number.toDecimal(x * y, '10,2');

    $(prefix+'total_value').val(z);
  };

  calcTotal();
</script>

