CONTRATO DE LOCAÇÃO DE ESPAÇO (“BOX”) TEMPORÁRIO


<%= print_contract Contract.tops %>

================================
<ol>
  <li id="enterprise">DADOS DA LOCADORA:
    <div class="group w95">
      <div class="data w100"><span class="label">Nome Fantasia</span><%= @ent.nickname %></div>
      <div class="data w100"><span class="label">Razão Social</span><%= @ent.name %></div>
      <div class="data w100"><span class="label">Tel. para contato</span>55 <%= @ent.phone %></div>
      <div class="data w100"><span class="label">CNPJ</span><%= @ent.cnpj %></div>
      <div class="data w100"><span class="label">Email</span>sac@starbox.net.br</div>
      <div class="data w100"><span class="label">Endereço</span><%= @ent.address %></div>
      <div class="data w100"><span class="label">Responsável pelo contrato</span><%= @loc.seller.name %></div>
    </div>
  </li>
  <li id="client">DADOS DO LOCATÁRIO:
    <div class="group w95">
      <div class="data w100"><span class="label">Nome</span><%= @cli.name %></div>
      <div class="data w100"><span class="label">Telefone</span><%= @cli.phone 1 %></div>
      <div class="data w100"><span class="label">CNPJ/CPF</span><%= @cli.doc %></div>
      <div class="data w100"><span class="label">Celular</span><%= @cli.phone 2 %></div>
      <div class="data w100"><span class="label">Endereço</span><%= @cli.main_address %></div>
      <div class="data w100"><span class="label">Email</span><%= @cli.email %></div>
      <div class="data w100"><span class="label">Data de início</span><%= date @loc.starts_at %></div>
    </div>
  </li>
  <li>OBJETO DA LOCAÇÃO
    <ol>
      <li>O objeto do presente instrumento é a locação, para o LOCATÁRIO, do BOX nº {unit}, que
contem {size} m2, de propriedade da LOCADORA e localizado na Rua Serra da Bocaina 287 –
CEP 03174-000 São Paulo/SP, (doravante denominado “BOX”), pelo prazo e nos termos do
presente Contrato.</li>
      <li>Declara o LOCATÁRIO que realizou prévia inspeção no BOX objeto deste Contrato, sendo
que suas instalações estão de acordo com o fim para o qual se destina.</li>
    </ol>
  </li>
  <li>PRAZO CONTRATUAL
    <ol>
      <li>O presente Contrato é firmado pelo prazo determinado de 30 (trinta) dias, renováveis
automaticamente, por iguais e sucessivos períodos, contados a partir do dia 5 do mês
subsequente à data de assinatura do presente Contrato e desde que tenha sido efetuado
pagamento do aluguel para o período subsequente (“data de renovação”).</li>
      <li>Caso o Contrato não seja celebrado no dia 5, o seu primeiro período de vigência será
contado da data da assinatura até o dia 4 do mês subsequente.</li>
    </ol>
  </li>
  <li>ALUGUEL
    <ol>
      <li>Em contrapartida à locação do BOX mencionado na Cláusula 3 acima, durante o período
de vigência da locação, o LOCATÁRIO pagará mensalmente à LOCADORA a título de aluguel, o
valor de R$ {rate} (“aluguel” ou “aluguéis”).</li>
      <li>O aluguel vencerá de forma antecipada. O pagamento deverá ser realizado todo dia 05 de
cada mês (“Data de Pagamento”), mediante boleto bancário, ou qualquer outra forma de
pagamento expressamente acordada entre as Partes.</li>
      <li>Os aluguéis, devidos e não pagos na Data de Pagamento, estarão sujeitos a: (i) juros de
mora de 1% (um por cento) ao mês; (ii) correção monetária segundo o IGP-M (FGV), sendo que
na falta do IGP-M, o aluguel deverá ser atualizado pelo IGP-DI, ou por qualquer outro índice
que porventura venha a substituí-lo, ambos (i) e (ii) calculados pro rata die; e (iii) multa
moratória de 2% (dois por cento).</li>
      <li>O preço do aluguel poderá ser majorado até 2 (duas) vezes por ano, obrigando-se a
LOCADORA a informar o LOCATÁRIO com antecedência mínima de 30 (trinta) dias da próxima
data de renovação o valor do novo aluguel.</li>
      <li>Caso o presente Contrato venha a ser rescindido antecipadamente pelo LOCATÁRIO, o
LOCATÁRIO não terá direito ao reembolso proporcional do aluguel referente aos dias restantes
do mês em que ocorrer a rescisão.</li>
    </ol>
  </li>
  <li>HORÁRIO DE FUNCIONAMENTO DO BOX E SENHA DE ACESSO
    <ol>
      <li>A LOCADORA assegurará ao LOCATÁRIO o livre acesso ao BOX de segunda-feira a sexta,
das 7h00 às 19h00; sábados, das 8h00 às 16h00; domingos e feriados das 9h00 às 14h00.
Alterações no horário de funcionamento deverão ser comunicadas pelo LOCADOR ao
LOCATÁRIO com antecedência mínima de 24 (vinte e quatro) horas ou em casos de
emergência através de placas no local.</li>
      <li>De modo a permitir o livre acesso ao BOX, a LOCADORA entrega ao LOCATÁRIO neste ato,
uma senha de acesso às dependências do imóvel do qual o BOX faz parte, e ao próprio BOX,
sendo que a validação dessa senha estará condicionada ao pagamento pontual dos aluguéis,
bem como ao cumprimento das demais obrigações do LOCATÁRIO.</li>
      <li>Terminado o Contrato, seja pela expiração do prazo ou por qualquer outro motivo, a
senha de acesso do LOCATÁRIO será imediatamente cancelada pela LOCADORA.</li>
      <li>Em caso de perda, furto ou roubo da senha de acesso, deverá o LOCATÁRIO
imediatamente comunicar a LOCADORA por escrito acerca de tal fato. Tão logo a LOCADORA
esteja ciente do ocorrido, o acesso ao BOX será bloqueado, sendo que o desbloqueio somente
será realizado mediante o comparecimento pessoal do LOCATÁRIO na sede da LOCADORA.</li>
    </ol>
  </li>
  <li>OBRIGAÇÕES DO LOCATÁRIO
    <ol>
      <li>São obrigações do LOCATÁRIO, além daquelas já especificadas neste Contrato:
        <ol class="roman">
          <li>não usar o BOX para fins diversos do ora contratado, utilizando-se do mesmo exclusivamente
para armazenamento de bens e/ou mercadorias em geral (doravante denominados “bens”),
sendo expressamente vedada a guarda de (a) animais; (b) bens provenientes de prática de
condutas ilegais; (c) materiais inflamáveis, químicos, tóxicos, corrosivos, radioativos, e/ou que de
alguma forma sejam nocivos à saúde humana e ao meio ambiente; (d) medicamentos; (e)
alimentos perecíveis; (f) objeto de valores, como jóias, dinheiro em espécie e obras de arte; (g)
entorpecentes; (h) armas de fogo; e (i) produtos que demandem refrigeração.</li>
          <li>zelar pela limpeza, conservação e organização do BOX, mantendo-o no mesmo estado que
recebeu, para assim o restituir à LOCADORA quando finda a presente locação, ressalvado o
desgaste natural decorrente do uso normal do BOX e sendo expressamente vedada qualquer
alteração na estrutura original do BOX.</li>
          <li>zelar pela limpeza, organização e manutenção dos bens que estejam armazenados no BOX;</li>
          <li>zelar pela limpeza das demais áreas do imóvel onde está localizado o BOX, não sendo
permitido em qualquer hipótese a manutenção de bens ou lixo em tais áreas;</li>
          <li>comunicar imediatamente a LOCADORA caso ocorra qualquer avaria no BOX;</li>
          <li>não fazer uso de equipamentos ou materiais elétricos, aerossóis e/ou a gás dentro do BOX
            e nas dependências da LOCADORA;</li>
          <li>não utilizar o BOX como moradia, nem sequer por uma única noite;</li>
          <li>fazer uso do BOX respeitando o horário de funcionamento estipulado na Cláusula 6.1
acima;</li>
          <li>não sublocar no todo ou em parte o BOX, nem mesmo ceder ou transferir a terceiros, total
ou parcialmente, suas obrigações ou direitos decorrentes deste Contrato ou a ele
relacionados, sem o consentimento prévio, por escrito, da LOCADORA; e</li>
          <li>observar as normas aplicáveis, em especial a Portaria CAT 69 de outubro de 1999 caso seja
contribuinte de ICMS, e providenciar o recolhimento de todo e qualquer tributo que se fizer
incidente sempre que armazenar ou retirar algum item do BOX.</li>
        </ol>
      </li>
      <li>O LOCATÁRIO responsabiliza-se por todos os danos causados ao BOX, ao restante do
imóvel onde se localiza o BOX ou a bens aí armazenados decorrentes de atos do LOCATÁRIO,
de seus empregados ou terceiros por este contratados ainda que resultantes de caso fortuito
ou força maior.</li>
    </ol>
  </li>
  <li>
    <ol>
      <li>OBRIGAÇÕES DA LOCADORA:</li>
      <li>São obrigações da LOCADORA, além daquelas já especificadas neste Contrato:
        <ol class="roman">
          <li>entregar ao LOCATÁRIO o BOX em estado de servir ao uso a que se destina;</li>
          <li>garantir o uso pacífico do BOX alugado durante toda a locação; e</li>
          <li>manter a forma e o destino do BOX durante toda a locação e, para tal finalidade, deverá
fazer todos os reparos e reposições necessários no BOX, exceto se comprovadamente
decorrentes de má utilização do LOCATÁRIO, interiores e exteriores, estruturais e nãoestruturais,
previstos e imprevistos.8.2. Não tem a LOCADORA qualquer responsabilidade pela guarda e/ou conservação
dos bens armazenados pelo LOCATÁRIO no BOX. Para conveniência e em benefício do LOCATÁRIO e dos
demais locatários de boxes localizados no mesmo imóvel, a LOCADORA mantém contrato de
prestação de serviço com empresa de vigilância, não obstante inexistir qualquer
responsabilidade do LOCADOR em relação ao BOX ou aos bens armazenados no mesmo.</li>
        </ol>
      </li>
      <li>Não tem a LOCADORA qualquer responsabilidade pelos danos causados a terceiros pelos
bens armazenados no BOX pelo LOCATÁRIO, responsabilizando-se o LOCATÁRIO por esses
danos causados a terceiros, ainda que resultantes de caso fortuito ou força maior.</li>
      <li>Caso a LOCADORA necessite acesso ao BOX para efetuar reparos ou manutenção ao
mesmo ou ao imóvel onde se localiza o BOX, deverá avisar o LOCATÁRIO com 3 (três) dias úteis
de antecedência. Caso o LOCATÁRIO não possa comparecer ao local para efetuar a abertura do
BOX, a LOCADORA poderá realizar tal procedimento na presença de 2 (duas) testemunhas, que
poderão ser funcionários da LOCADORA. Caso haja necessidade de efetuar reparos
emergenciais, a LOCADORA deverá comunicar o LOCATÁRIO a realização dos mesmos, assim
que seja possível.</li>
    </ol>
  </li>
  <li>MULTA
    <ol>
      <li>Em caso de descumprimento de qualquer uma das obrigações estabelecidas neste
Contrato, incorrerá a parte infratora em multa correspondente a 2% (dois por cento) do valor
do aluguel vigente, sem prejuízo de a parte inocente considerar imediatamente rescindida a
locação por justa causa, e requerer o pagamento de perdas e danos excedentes e
comprovados.</li>
    </ol>
  </li>
  <li>SEGURO OBRIGATÓRIO
    <ol>
      <li>Durante a vigência deste Contrato, o LOCATÁRIO está obrigado a contratar seguro
patrimonial para o BOX, exceto caso o valor dos bens alocados no BOX seja zero, com
cobertura inclusive para incêndio, emitido por seguradora de primeira linha e idônea,
regularmente estabelecida no Brasil, aprovada pela LOCADORA. O LOCATÁRIO deverá
apresentar em até 5 (cinco) dias da presente data a apólice de seguro à LOCADORA.</li>
      <li>O seguro patrimonial a ser contratado pelo LOCATÁRIO deverá ser equivalente ao valor
dos bens que vierem a ser alocados no BOX, sendo que o LOCATÁRIO declara que o valor total
dos bens alocados no BOX é de R$ _________________. O LOCATÁRIO deverá informar
a LOCADORA caso haja alterações positivas no referido valor e providenciar a alteração da
cobertura do seguro patrimonial.</li>
      <li>O LOCATÁRIO deverá manter o seguro patrimonial em vigor durante todo o prazo de
vigência deste Contrato e quaisquer prorrogações, devendo enviar à LOCADORA cópia da
apólice e dos comprovantes de pagamento do prêmio de seguro, tanto na sua contratação quanto
em suas renovações, quando assim for solicitado pela LOCADORA, no prazo de 5
(cinco) dias de tal solicitação.</li>
      <li>Caso o LOCATÁRIO não cumpra com o quanto estabelecido nas Cláusulas 10.1, 10.2 e
10.3 acima, fica a LOCADORA desde já autorizada pelo LOCATÁRIO a contratar seguro
patrimonial para o BOX, com cobertura inclusive para incêndio, emitido por seguradora de
primeira linha e idônea, regularmente estabelecida no Brasil, considerando como valor de
cobertura o valor dos bens declarado pelo LOCATÁRIO na Cláusula 10.2 supra.</li>
      <li>Todas as despesas incorridas pela LOCADORA para contratação e manutenção de seguro
patrimonial nos termos da Cláusula 10.4 acima deverão ser arcadas exclusivamente pelo
LOCATÁRIO.</li>
      <li>É de exclusiva responsabilidade do LOCATÁRIO informar-se em relação às condições
gerais da apólice contratada para o BOX, em especial aos riscos não cobertos e exclusões,
inexistindo qualquer responsabilidade da LOCADORA caso não ocorra pagamento de
indenização pela seguradora, bem como pela armazenagem pelo LOCATÁRIO no BOX de bens
não cobertos pela apólice de seguro.</li>
    </ol>
  </li>
  <li>EXTINÇÃO
    <ol>
      <li>O presente Contrato poderá ser considerado extinto a qualquer tempo, sem justa causa,
tanto pelo LOCATÁRIO como pela LOCADORA, mediante manifestação por escrito e com
antecedência mínima de 48 (quarenta e oito) horas da data de renovação, acerca do seu
interesse em não prorrogá-lo.</li>
      <li>Sem prejuízo do disposto na Cláusula 4.1 acima, quaisquer das partes poderá
imediatamente rescindir o Contrato, independentemente de qualquer notificação prévia por
escrito à outra parte, caso a outra parte venha a descumprir quaisquer das obrigações
pactuadas no presente Contrato, em especial a obrigação de pagamento do aluguel pelo
LOCATÁRIO, fato que constituirá justa causa.</li>
      <li>Independentemente da causa ou motivo da extinção deste Contrato, o LOCATÁRIO está
obrigado a retirar os bens alocados no BOX até a data de resilição, que no caso de não
renovação deste Contrato pelo LOCATÁRIO será o dia 04 do mês em referência, sendo devido à
LOCADORA o valor do aluguel correspondente ao mês seguinte caso o LOCATÁRIO não
desocupe o BOX até referida data.</li>
      <li>Caso o LOCATÁRIO não possa comparecer pessoalmente para retirar os seus bens no
prazo previsto pela Cláusula 11.3 acima, deverá o LOCATÁRIO comunicar por escrito a
LOCADORA sobre tal fato, bem como informar por escrito os dados da pessoa responsável por
retirar os bens alocados no BOX.</li>
    </ol>
  </li>
  <li>INADIMPLÊNCIA, ABERTURA, DESOCUPAÇÃO E DESTINAÇÃO DOS BENS ARMAZENADOS PELO LOCATÁRIO NO BOX
    <ol>
      <li>No caso de inadimplência do LOCATÁRIO, a LOCADORA poderá, além de considerar o
Contrato rescindido nos termos da Cláusula 11.2 acima, cancelar a senha de acesso ao BOX do
LOCATÁRIO e colocar cadeado na porta de entrada do BOX de forma a não permitir o acesso
do mesmo ao BOX, devendo o LOCATÁRIO comprovar ter efetuado o pagamento para que
volte a ter livre acesso ao BOX.</li>
      <li>Adicionalmente, caso o LOCATÁRIO não providencie a desocupação do BOX conforme o
disposto na Cláusula 11.3 acima, estará a LOCADORA automaticamente autorizada a abrir o
BOX e providenciar a retirada dos bens lá armazenados, os quais serão encaminhados para
local a ser escolhido pela própria LOCADORA.</li>
      <li>Na hipótese prevista na Cláusula 12.2 acima, deverá a LOCADORA encaminhar ao
LOCATÁRIO carta por correio com aviso de recebimento, carta registrada ou notificação
extrajudicial informando a remoção dos bens.</li>
      <li>Passados 30 (trinta) dias da remoção pela LOCADORA dos bens armazenados no BOX nos
termos da Cláusula 12.2 acima, e não tendo o LOCATÁRIO tomado as providências junto à
LOCADORA para reaver os seus bens, estará a LOCADORA autorizada a doar, vender ou leiloar
os bens do LOCATÁRIO, conforme melhor lhe aprouver.</li>
      <li>O LOCATÁRIO será responsável por todos os custos incorridos pela LOCADORA em
decorrência de seu inadimplemento, incluindo custos de transporte dos bens e de
armazenagem após extinto o Contrato.</li>
    </ol>
  </li>
  <li>JURISDIÇÃO
    <ol>
      <li>As Partes elegem o foro da cidade de São Paulo, Estado de São Paulo, com exclusão de
qualquer outro, por mais privilegiado que seja, para resolver qualquer questão decorrente
deste Contrato, exceto caso haja dispositivo legal determinando a obrigatoriedade de foro
diverso.</li>
    </ol>
  </li>
  <li>DISPOSIÇÕES GERAIS
    <ol>
      <li>Eventual nulidade de qualquer cláusula ou disposição deste Contrato não prejudicará as
demais cláusulas e disposições ajustadas, que permanecerão em pleno vigor para todos os
efeitos legais.</li>
      <li>Qualquer tolerância por uma das partes em relação ao não cumprimento de qualquer
Cláusula ou disposição deste Contrato será considerada mera liberalidade e não implicará em
novação ou renúncia quanto ao exercício desse direito, que poderá ser exigido a qualquer
tempo e também não poderá ser invocado em futuros inadimplementos deste contrato.</li>
      <li>Qualquer aviso, notificação e/ou comunicação que deva ser enviada por uma parte à
outra em razão do presente Contrato deverá ser feita por escrito, por carta simples ou por
mensagem eletrônica com confirmação de recebimento, exceto caso expressamente
determinado de maneira diversa neste Contrato. Os avisos, notificações e/ou comunicações
deverão ser encaminhados às Partes nos endereços indicados neste Contrato, sendo as Partes
responsáveis por notificar a outra por escrito caso haja qualquer alteração em referidas
informações.</li>
      <li>Qualquer alteração ou aditamento de qualquer cláusula ou disposição contida no
presente Contrato deverá ser firmado por escrito entre as Partes através de instrumento
próprio, o qual fará parte integrante, complementar e inseparável do presente, para os
devidos efeitos legais.</li>
      <li>Os termos e condições constantes do presente contrato são a expressão do acordo final
entre as Partes, substituindo quaisquer negociações escritas ou verbais mantidas
anteriormente.</li>
    </ol>
  </li>
</ol>
<p>E, por estarem assim justas e contratadas, as Partes assinam o presente instrumento em duas
vias de igual forma e teor, na presença das duas testemunhas abaixo assinadas.</p>

<p>São Paulo, 2 de abril de 2012</p>

<div id="rental" class="group w100">
  <div class="data w100"><span class="label">LOCADORA</span><%= @ent.name %></div>
  <div class="data w100"><span class="label">CNPJ</span><%= @ent.cnpj %></div>
</div>

<div id="tenant" class="group w100">
  <div class="data w100"><span class="label">LOCATÁRIA</span><%= @cli.name %></div>
</div>

<div id="witness" class="group w100">
  <div class="data w100"><span class="title">TESTEMUNHAS</span></div>
  <div class="data w100"><span class="title">&nbsp;</span></div>
  <div class="data w100"><span class="label">Nome</span>______________________________</div>
  <div class="data w100"><span class="title">&nbsp;</span></div>
  <div class="data w100"><span class="label">RG</span>______________________________</div>
  <div class="data w100"><span class="title">&nbsp;</span></div>
  <div class="data w100"><span class="label">CPF</span>______________________________</div>
  <div class="data w100"><span class="title">&nbsp;</span></div>
  <div class="data w100"><span class="title">&nbsp;</span></div>
  <div class="data w100"><span class="title">&nbsp;</span></div>
  <div class="data w100"><span class="label">Nome</span>______________________________</div>
  <div class="data w100"><span class="title">&nbsp;</span></div>
  <div class="data w100"><span class="label">RG</span>______________________________</div>
  <div class="data w100"><span class="title">&nbsp;</span></div>
  <div class="data w100"><span class="label">CPF</span>______________________________</div>
</div>

<% content_for :script do -%>
//<script type="text/javascript">

  // setBiggestHeight('#client2 .data');

  setBiggestWidth('#enterprise .label');
  setBiggestWidth('#client .label');
  setBiggestWidth('#rental .label');
  setBiggestWidth('#tenant .label');
  setBiggestWidth('#witness .label');

  // ajustHorizontal('#enterprise .group');
  // ajustHorizontal('#client .group');
  ajustHorizontal('#rental');
  ajustHorizontal('#tenant');
  ajustHorizontal('#witness');

<% end -%>