CONTRATO DE LOCAÇÃO DE ESPAÇO (“BOX”) TEMPORÁRIO

<%= print_contract Contract.tops, 1 %>

<p>E, por estarem assim justas e contratadas, as Partes assinam o presente instrumento em duas
vias de igual forma e teor, na presença das duas testemunhas abaixo assinadas.</p>

<p>São Paulo, <%=l Date.today, :format => :long %></p>

<div id="rental" class="group w100">
  <div class="data w100"><span class="label">LOCADORA</span><%= @ent.name %></div>
  <div class="data w100"><span class="label">CNPJ</span><%= @ent.cnpj %></div>
</div>

<div id="tenant" class="group w100">
  <div class="data w100"><span class="label">LOCATÁRIA</span><%= @cli.name %></div>
</div>

<div id="witness" class="group w100">
  <div class="data w100"><span class="title">TESTEMUNHAS</span></div>
  <div class="data w100"><span class="title">&nbsp;</span></div>
  <div class="data w100"><span class="label">Nome</span>______________________________</div>
  <div class="data w100"><span class="title">&nbsp;</span></div>
  <div class="data w100"><span class="label">RG</span>______________________________</div>
  <div class="data w100"><span class="title">&nbsp;</span></div>
  <div class="data w100"><span class="label">CPF</span>______________________________</div>
  <div class="data w100"><span class="title">&nbsp;</span></div>
  <div class="data w100"><span class="title">&nbsp;</span></div>
  <div class="data w100"><span class="title">&nbsp;</span></div>
  <div class="data w100"><span class="label">Nome</span>______________________________</div>
  <div class="data w100"><span class="title">&nbsp;</span></div>
  <div class="data w100"><span class="label">RG</span>______________________________</div>
  <div class="data w100"><span class="title">&nbsp;</span></div>
  <div class="data w100"><span class="label">CPF</span>______________________________</div>
</div>

<% content_for :script do -%>
//<script type="text/javascript">

  // setBiggestHeight('#client2 .data');

  setBiggestWidth('#enterprise .label');
  setBiggestWidth('#client .label');
  setBiggestWidth('#rental .label');
  setBiggestWidth('#tenant .label');
  setBiggestWidth('#witness .label');

  // ajustHorizontal('#enterprise .group');
  // ajustHorizontal('#client .group');
  ajustHorizontal('#rental');
  ajustHorizontal('#tenant');
  ajustHorizontal('#witness');

<% end -%>