<% content_for :menu do -%>
  <h1>Locação</h1>
  <%= mount_menu %w[default separator] %>
  <%= btn_contract(@location.id) %>
  <%= btn_to_bill(@location.id)     unless @location.quotation %>
  <%= btn_to_receipts(@location.id) unless @location.receipts.blank? %>
  <%= link_to "F5", location_path(@location), :id => "refresh", :class => "hide" %> <!-- , :class => "hide" -->
<% end -%>

<%= print_content "Número"        , h(@location.number)                 , :width => 10  %>
<%= print_content "Contato"       , h(@location.contact)                , :width => 20  %>
<%= print_content "Cliente"       , h(@location.client.name)            , :width => 30  %>
<%= print_content "Representante" , h((@location.seller.name rescue '')), :width => 30  %>
<%= print_content "Cotação?"      , human_boolean(@location.quotation)  , :width => 10  %>
<%= print_content "Comissão"      , h(@location.comission)              , :width => 20  %>
<%= print_content "Conta bancária", h((@location.bank_account.bank_name+' - '+@location.bank_account.agency_number+' - '+@location.bank_account.account_number rescue '')) , :width => 20  %>
<%= print_content "Início"        , date(@location.starts_at)           , :width => 20  %>
<%= print_content "Término"       , date(@location.ends_at)             , :width => 20  %>
<%= print_content "Observações"   , h(@location.observation)            , :width => 100 %>

<div class="clear"></div>

<div style="float:left;width:50%">
  <div style="padding:10px 5px 0 0;">

    <h2>Itens locados</h2>

    <table class="personal_list" cellpading="0" cellspacing="0" border="0" width="100%">
      <thead>
        <tr>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Valor Unitário</th>
          <th>Valor Total</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
        <tr>
          <td               ><%= item.product.name %></td>
          <td class="right" ><%= item.quantity %></td>
          <td class="right" ><%= number_to_currency(item.unit_value) %></td>
          <td class="right" ><%= number_to_currency(item.total_value) %></td>
        </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3"> </th>
          <th class="right sum"></th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<div style="float:left;width:50%">
  <div style="padding:10px 0 0 5px;">
    <h2>Recebimentos</h2>
    <table class="personal_list" cellpading="0" cellspacing="0" border="0" width="100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>De</th>
          <th>Até</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <% @location.receipts.each do |rec| -%>
        <tr>
          <td class="right"><%= rec.id %></td>
          <td class="center"><%= date(rec.start) %></td>
          <td class="center"><%= date(rec.end) %></td>
          <td class="right"><%= number_to_currency(rec.liquid_value) %></td>
        </tr>
        <% end -%>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3" style="text-align: right">Total: </th>
          <th class="sum right"> </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>



<% content_for :script do -%>
//<script type="text/javascript">
  $('#btn_to_bill').click(function(){
    var t = $(this);
    var url = t.attr('href');
    showModal({
      url: url,
      width: 700,
      height: 350,
      title: 'Defina os dados pra recibo e cobrança.',
      buttons: [{
        text:'Salvar',
        click: function(){
          $('.mask-decimal', frames[ifm].document).each(function(){
            var t = $(this);
            t.val(format.decimal.toNumber(t.val()));
          });
          $('#waiting', frames[ifm].document).fadeTo('normal', 0.7);
          $('form'    , frames[ifm].document).submit();
        }
      }]
    });
    return false;
  });

  var conf = {"fnFooterCallback": function ( nRow, aaData, iStart, iEnd, aiDisplay ) {
    var iTotal = 0;
    //Soma das NF's visíveis
    for ( var i=iStart ; i<iEnd ; i++ )
    {
      iVal = aaData[aiDisplay[i]][3].replace('R$ ', '').replace(/\./gi, '').replace(',', '.')*1;
      iTotal += iVal;
    }
    $('.sum', this).text('R$ '+ toCurrency(iTotal.toFixed(2)));
  }};

  var newConf = $.extend({}, dTableConfig, conf);

  $('table.personal_list').dataTable(newConf);

//</script>
<% end -%>

