<p class="notice"><%= flash[:notice] %></p>

<%= hidden_field_tag 'controller', params[:controller] %>

<div id="menu_wrapper"><%= yield :menu %></div>

<div id="content_wrapper"><%= yield %></div>

<div id="waiting"> </div>

<script type="text/javascript">
  <%= js_copy     if flash[:btn_copy]     %>
  <%= js_paste    if flash[:btn_paste]    %>
  <%= js_map_form if flash[:btn_map_form] %>
  <%= js_map_show if flash[:btn_map_show] %>
  <%= js_cep      if flash[:btn_cep]      %>

  <%= js_create_table_item if flash[:create_table_item] %>
  <%= js_new_item          if flash[:btn_new_item]      %>
  <%= js_save_item         if flash[:btn_save_item]     %>
</script>

