<p class="notice"><%= flash[:notice] %></p>

<%= hidden_field_tag 'controller', params[:controller] %>

<div id="menu_wrapper"><%= yield :menu %></div>

<div id="content_wrapper"><%= yield %></div>

<div id="waiting"> </div>

<script type="text/javascript">
  <%= js_copy     if flash[:btn_copy]     %>
  <%= js_paste    if flash[:btn_paste]    %>
  <%= js_map_form if flash[:btn_map_form] %>
  <%= js_map_show if flash[:btn_map_show] %>
  <%= js_cep      if flash[:btn_cep]      %>

  <%= js_sales_create_table_item if flash[:create_sales_table_item] %>
  <%= js_sales_new_item          if flash[:btn_sales_new_item]      %>
  <%= js_sales_del_item          if flash[:btn_sales_del_item]      %>
  <%= js_sales_save_item         if flash[:btn_sales_save_item]     %>
  
  <%= js_purchase_create_table_item if flash[:create_purchase_table_item] %>
  <%= js_purchase_new_item          if flash[:btn_purchase_new_item]      %>
  <%= js_purchase_del_item          if flash[:btn_purchase_del_item]      %>
  <%= js_purchase_save_item         if flash[:btn_purchase_save_item]     %>
</script>

