<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>TurcoWeb</title>
  <%= stylesheet_link_tag 'jqui-themes/turco/jquery-ui-1.8.13.custom', 'jquery.jgrowl', 'application', 'forms' %>
  <!--[if IE 7]><%= stylesheet_link_tag 'forms-ie7' %><![endif]-->
	<!--[if lte IE 6]><%= stylesheet_link_tag 'forms-lte-ie6' %><![endif]-->

  <%= javascript_include_tag 'jquery/jquery-1.4.2.min.js', 'jquery/jquery-ui-1.8.12.custom.min.js', 'jquery/jquery.layout.min-1.2.0.js', 'jquery/jquery.jgrowl_google', 'jquery/jquery.dataTables.min.js', 'jquery/jquery.price_format.min', 'jquery/jquery.maskedInput-1.3.min.js', 'application' %>
</head>
<body>

  <div class="ui-layout-north ui-widget-header">
    <div class="header">
      <%= link_to "Home",          login_path,                                                        :class => "button", :icon => "home" %>
      <%= link_to "Perfil",        {:controller => 'users', :action => 'editme',   :id => :current} , :class => "button", :icon => "person", :ajax => "true" %>
      <%= link_to "Alterar senha", {:controller => 'users', :action => 'editpass', :id => :current} , :class => "button", :icon => "key"   , :ajax => "true" %>
      <%= link_to "Sair",          logout_path ,                                                      :class => "button", :icon => "power" %>
      <span><strong>Usuário:</strong> <%= current_user.name %></span>
    </div>
  </div>

  <div class="ui-layout-west">
  <%= render :partial => "layouts/menu" %>
  </div>

  <div class="ui-layout-center ui-widget-content">

    <p class="notice"><%= "#{flash[:notice]} #{current_user.name}" if flash[:notice]%></p>

    <%= hidden_field_tag 'controller', params[:controller] %>

    <div id="menu_wrapper"><%= yield :menu %></div>

    <div id="content_wrapper" class="logo_grande"><%= yield %></div>

    <div id="waiting"> </div>

  </div>

  <div class="ui-layout-east">

    <div id="browsers" class="screenlet ui-datepicker-inline ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" style="display: block;">
      <div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all">
        <div class="ui-datepicker-title">
          <span class="ui-datepicker-month">Navegadores</span>
        </div>
      </div>
      <ul>
        <p>Recomendamos que seja usado um dos navegadores abaixo para acessar este sistema</p>
<!--    <li id="chr"><a href="https://www.google.com/chrome?hl=pt-BR" target="_blank"><img src="/images/logo_chrome.png" alt="logo Google Chrome" /><span>Google Chrome</span></a></li>
        <li id="moz"><a href="http://www.mozilla.org/pt-BR/firefox/new/" target="_blank"><img src="/images/logo_firefox.jpg" alt="logo Mozilla Firefox" /><span>Mozila Firefox</span></a></li> -->
        <li id="chr"><a href="https://www.google.com/chrome?hl=pt-BR" target="_blank">Google Chrome</a></li>
        <li id="moz"><a href="http://www.mozilla.org/pt-BR/firefox/new/" target="_blank">Mozila Firefox</a></li>
      </ul>
    </div>

    <div id="calendar" class="screenlet"></div>

    <div id="bossMessageContainer" class="screenlet ui-datepicker-inline ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" style="display: block;">
      <div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all">
        <div class="ui-datepicker-title">
          <span class="ui-datepicker-month">Mensagem</span>
        </div>
      </div>
      <div id="bossMessage"><p><%= @message %></p></div>
    </div>

    <div id="chat" class="screenlet ui-datepicker-inline ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" style="display: block;">
      <div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all">
        <div class="ui-datepicker-title">
          <span class="ui-datepicker-month">Chat</span>
        </div>
      </div>
      <div class="chat-history">
        <p><span class="chat-who">Administrador: </span>Isso é apenas uma simulação de chat</p>
      </div>
      <div class="chat-message">
        <input id="chatMessage" type="text" />
      </div>
    </div>

  </div>

  <div id="alert"> </div>

</body>
</html>

