<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>TurcoWeb</title>
  <%= stylesheet_link_tag 'jqui-themes/turco/jquery-ui-1.8.13.custom', 'jquery.jgrowl', 'application', 'forms' %>
  <!--[if IE 7]><%= stylesheet_link_tag 'forms-ie7' %><![endif]-->
	<!--[if lte IE 6]><%= stylesheet_link_tag 'forms-lte-ie6' %><![endif]-->

  <%= javascript_include_tag 'jquery/jquery-1.4.2.min.js', 'jquery/jquery-ui-1.8.12.custom.min.js', 'jquery/jquery.layout.min-1.2.0.js', 'jquery/jquery.jgrowl_google', 'jquery/jquery.dataTables.min.js', 'jquery/jquery.maskedInput-1.3.min.js', 'application' %>
</head>
<body>

  <div class="ui-layout-north ui-widget-header">
    <div class="header">
      <%= link_to "Home",          root_path ,                                                        :class => "button", :icon => "home" %>
      <%= link_to "Perfil",        {:controller => 'users', :action => 'editme',   :id => :current} , :class => "button", :icon => "person", :ajax => "true" %>
      <%= link_to "Alterar senha", {:controller => 'users', :action => 'editpass', :id => :current} , :class => "button", :icon => "key"   , :ajax => "true" %>
      <%= link_to "Sair",          logout_path ,                                                      :class => "button", :icon => "power" %>
    </div>
  </div>

  <div class="ui-layout-west">
  <%= render :partial => "layouts/menu" %>
  </div>

  <div class="ui-layout-center ui-widget-content">

    <p class="notice"><%= flash[:notice] %></p>

    <%= hidden_field_tag 'controller', params[:controller] %>

    <div id="menu_wrapper"><%= yield :menu %></div>

    <div id="content_wrapper" class="logo_grande"><%= yield %></div>

    <div id="waiting"> </div>

  </div>

</body>
</html>

